[2021-12-14 05:37] Atif0604 opened #1 "Making Home page Responsive"
Want to make home page responsive
Assign me under SWOC'21
@arpit456jain

[2021-12-14 18:03] arpit456jain commented on #1
go ahead @Atif0604

[2021-12-19 14:15] ssurbhi09 commented on #1
What type of homepage?

[2021-12-19 15:25] arpit456jain commented on #1
@ssurbhi09 r u swoc'21 participant

[2021-12-19 15:27] ssurbhi09 commented on #1
Yes @arpit456jain

[2021-12-19 17:56] arpit456jain commented on #1
I am creating new issues work on that

[2021-12-19 17:56] #1 closed

[2021-12-19 18:02] arpit456jain opened #3 "Improve UI of website"

[2021-12-19 18:03] arpit456jain opened #4 "Responsiveness of other pages"

[2021-12-19 18:04] arpit456jain commented on #4
@Atif0604 check other pages too and make them responsive. try to make separate PRs
try to make 1 common css file for main layout like for navbar and footer

[2021-12-19 18:05] arpit456jain opened #5 "navbar hamburger is not working in mobile view"

[2021-12-19 18:12] arpit456jain opened #6 "Make a preloader"

[2021-12-19 18:12] arpit456jain opened #7 "Add Dark mode"

[2021-12-19 18:13] arpit456jain opened #8 "Make a login and sign up page"

[2021-12-19 18:16] arpit456jain opened #9 "Add more documentation to it make a separate issue in which language u r adding documentation"

[2021-12-19 18:27] Atif0604 commented on #4
Hey @arpit456jain there no issue with css but the problem is in the html files
I'll surely make all the pages responsive by making individuals PR for Individual pages

[2021-12-19 18:32] Atif0604 commented on #8
Hey @arpit456jain can i work on this also :-)

[2021-12-19 18:57] arpit456jain commented on #4
Ok cool

[2021-12-19 18:57] arpit456jain commented on #8
Ok

[2021-12-21 19:45] arpit456jain opened #22 "Add swoc logo in read me"

[2021-12-21 19:46] arpit456jain opened #23 "Improve read me"

[2021-12-22 13:23] Atif0604 commented on #4
Hey @arpit456jain you can close this now

[2021-12-22 13:27] arpit456jain opened #30 "add course for ML and add documentation for ML course"

[2021-12-22 13:28] arpit456jain opened #31 "Add course For python and add documentation in it"

[2021-12-22 13:30] arpit456jain opened #32 "Add more Courses"
make a  separate issue and describe which course are going to add

[2021-12-23 02:37] ssurbhi09 commented on #23
Can I add how to contribute in readme section?

[2021-12-23 02:57] arpit456jain commented on #23
Add content in this file
https://github.com/arpit456jain/CodingEasy/blob/master/README.md

[2021-12-23 03:01] ssurbhi09 commented on #23
@arpit456jain I can only add how to contribute is it ohk?
Can I work now then assign me!

[2021-12-23 03:21] arpit456jain commented on #23
Yes

[2021-12-23 03:30] ssurbhi09 commented on #23
@arpit456jain done
Please add SWOC tag.

[2021-12-23 05:04] Atif0604 commented on #22
Hey @arpit456jain
Please Assign me under SWOC'21

[2021-12-23 06:34] Atif0604 opened #35 "Add Contributor list and project admin name in readme"
@arpit456jain
Please assign under SWOC'21

[2021-12-23 10:43] #8 closed

[2021-12-23 12:39] khushi-purwar commented on #31
@arpit456jain  I want to add python course and its documentation under swoc'22 .

[2021-12-23 12:51] arpit456jain commented on #31
go ahead @khushi-purwar

[2021-12-23 12:59] Amanmawar17 commented on #6
I am interested

[2021-12-23 13:03] arpit456jain commented on #6
go ahead @Amanmawar17

[2021-12-23 16:48] arpit456jain opened #38 "Navbar toggle is not working in mobile view"

[2021-12-23 17:59] #35 closed

[2021-12-24 04:17] Atif0604 commented on #38
Hey @arpit456jain
Please Assign

[2021-12-24 11:29] Atif0604 opened #41 "Improve README"
I will add Diff tags like  issues, PRs ,license and add Repo banner
Please assign me under SWOC'21
@arpit456jain

[2021-12-24 13:37] #38 closed

[2021-12-24 13:38] arpit456jain opened #43 "there are some error in console resolve them"

[2021-12-24 14:36] vaibhav-305 commented on #5
hi, i would like to work on this issue, can u assign me this ?

[2021-12-24 14:41] vaibhav-305 commented on #7
hi, i would like to work on this issue, can u assign me this ?

[2021-12-24 15:00] #5 closed

[2021-12-24 15:01] arpit456jain commented on #7
Go ahead

[2021-12-24 15:01] arpit456jain commented on #7
Make a separate css file for dark mode

[2021-12-24 17:39] #22 closed

[2021-12-25 13:55] Atif0604 opened #45 "Add More Contents in Bootstrap"
Hey @arpit456jain @ankitapuri
Please assign under SWOC

[2021-12-25 14:00] Atif0604 opened #46 "Add Missing Contents in JS"
Hey @arpit456jain @ankitapuri
Please assign under SWOC

[2021-12-25 14:01] Atif0604 opened #47 "Add Missing Content in CSS"
Hey @arpit456jain @ankitapuri
Please assign under SWOC

[2021-12-25 15:56] #41 closed

[2021-12-26 07:29] astha2412 opened #48 "Want to add documentation on CPP"
@ankitapuri Plz Assign

[2021-12-26 10:54] arpit456jain commented on #4
@Atif0604 make a new issue and try to make a css file which contain css which is common to whole website same css is written every course folder

[2021-12-26 13:25] Atif0604 commented on #4
Ok @arpit456jain I will a issue about this add a new common.css file in the root folder which common in all files

[2021-12-26 13:33] Atif0604 opened #49 "Make a Common CSS"
Making a Common CSS file which common for almost all files in the Website
Hey @arpit456jain
Please Assign

[2021-12-27 06:13] arpit456jain opened #51 "add issue template and PR template"

[2021-12-27 06:14] arpit456jain opened #52 "Add a greeting bot"

[2021-12-27 12:58] arpit456jain opened #53 "Add a documentation for virtual environment"

[2021-12-27 12:59] arpit456jain opened #54 "Migrate it into Django"

[2021-12-27 13:01] arpit456jain opened #55 "Replace Front end Partner with Coding Easy in whole project"

[2021-12-27 13:03] #31 closed

[2021-12-27 13:04] arpit456jain opened #56 "Add basic documentation in python course"
![image](https://user-images.githubusercontent.com/55352601/147474344-015064b6-b1ba-471d-a37c-0f559a585472.png)

[2021-12-28 09:47] Atif0604 opened #58 "Organize images in a folder and Link them"
@ankitapuri @LegendSumeet
Please assign under SWOC

[2021-12-28 13:26] #55 closed

[2021-12-28 16:07] Atif0604 commented on #47
@LegendSumeet Please assign to me

[2021-12-28 17:07] #49 closed

[2021-12-28 17:16] Atif0604 opened #59 "Delete unnecessary CSS files"
Hey @ankitapuri @arpit456jain
Please assign under SWOC

[2021-12-28 18:27] vaibhav-305 commented on #7
Should i also change image(put a related dark version of image) for dark mode in course-cards ?

[2021-12-29 04:19] #58 closed

[2021-12-29 04:20] arpit456jain commented on #7
no that's not needed

[2021-12-29 08:36] Atif0604 opened #61 "Link Common Css File to Remaining Category"
Link Common Css for Js python and Feature  folder
Hey @arpit456jain
Please Assign

[2021-12-29 10:11] Atif0604 commented on #4
You can close this now

[2021-12-29 12:00] #4 closed

[2021-12-29 13:48] Atif0604 opened #63 "Restructure folder structure for django migration"
Hey @arpit456jain Please assign

[2021-12-29 13:49] Atif0604 commented on #54
Hey @arpit456jain Please assign

[2021-12-30 05:20] #61 closed

[2021-12-30 05:21] arpit456jain commented on #59
@Atif0604 complete all the issues which are assigned to you asap except migration into django

[2021-12-30 05:22] arpit456jain commented on #6
@Amanmawar17 deadline : 2 jan

[2021-12-30 05:23] arpit456jain commented on #7
@vaibhav-305 any update

[2021-12-31 04:28] #59 closed

[2021-12-31 04:30] #45 closed

[2021-12-31 07:03] Atif0604 commented on #47
Hey @arpit456jain Should i make separate PR for separate topics in Css?

[2021-12-31 09:15] arpit456jain commented on #47
No make 1 PR only

[2021-12-31 09:30] arpit456jain commented on #46
@Atif0604 i think this is done

[2021-12-31 12:41] #47 closed

[2021-12-31 13:53] astha2412 opened #68 "Adding C++ contents topicwise"

[2021-12-31 13:55] astha2412 commented on #68
Plz Assign @arpit456jain

[2021-12-31 14:06] arpit456jain commented on #68
Don't forget to link it on home page

[2021-12-31 14:07] astha2412 commented on #68
ok

[2021-12-31 15:43] RishiKumarRay commented on #52
I Will work on this

[2021-12-31 15:47] arpit456jain commented on #52
Go ahead

[2021-12-31 16:13] Atif0604 commented on #43
Hey @arpit456jain
Please Assign

[2021-12-31 16:22] arpit456jain commented on #23
@ssurbhi09

[2021-12-31 16:23] #23 closed

[2021-12-31 16:23] ssurbhi09 commented on #23
@arpit456jain yes?

[2021-12-31 16:25] ssurbhi09 commented on #23
@arpit456jain u didn't merge why?
Any problem?

[2021-12-31 16:37] arpit456jain commented on #23
its  a issue @ssurbhi09 not a PR 😅 and that section how to contribute is already added

[2021-12-31 16:45] BhaswatiRoy commented on #30
Name-Bhaswati Roy
Github Link-https://github.com/BhaswatiRoy
Approach-add basic documentation for intro to ml, diff between regression & classification, various algos of both

[2021-12-31 16:46] arpit456jain commented on #30
go ahead @BhaswatiRoy

[2021-12-31 18:19] #46 closed

[2021-12-31 18:24] arpit456jain commented on #68
@astha2412 u had added whole content in this area
![image](https://user-images.githubusercontent.com/55352601/147835458-4b5a59da-8a87-45b3-8e31-62a384501099.png)

make it like this
![image](https://user-images.githubusercontent.com/55352601/147835472-4d99b4b6-da6d-4f69-b9f8-bb6b73872eb7.png)

[2021-12-31 18:25] arpit456jain commented on #68
make a new PR for this

[2021-12-31 19:33] Atif0604 commented on #56
Hey @arpit456jain
Please Assign

[2022-01-01 04:27] arpit456jain commented on #56
Add content in 4 topics

[2022-01-01 05:48] #43 closed

[2022-01-01 14:10] #56 closed

[2022-01-01 14:12] #48 closed

[2022-01-01 14:13] arpit456jain commented on #68
@astha2412

[2022-01-01 15:28] Atif0604 opened #74 "Added Missing Content in Python"
Hey @arpit456jain
Please Assign

[2022-01-02 07:12] #30 closed

[2022-01-02 07:14] arpit456jain opened #75 "link ml course to home page"

[2022-01-02 18:00] #75 closed

[2022-01-02 18:01] arpit456jain commented on #63
@Atif0604 what do you want to do in this issue

[2022-01-02 18:01] arpit456jain commented on #63
@7saikat7 please have a look on this issue and the issue for migration

[2022-01-02 18:02] arpit456jain commented on #54
@7saikat7 this one

[2022-01-02 18:03] arpit456jain commented on #74
@Atif0604 complete this issue by tomorrow then start working on migration
take help from mentor

[2022-01-02 19:18] Atif0604 commented on #74
Sure

[2022-01-02 19:18] Atif0604 commented on #63
I will make diff folder according to Django Structure

[2022-01-02 19:38] arpit456jain commented on #63
@Atif0604 contact to @7saikat7 in the channel he will guide you

[2022-01-03 06:40] vaibhav-305 commented on #7
yes, working on it , almost done , i've chosen a dark blue theme for dark mode

[2022-01-03 07:33] Atif0604 commented on #63
Sure

[2022-01-03 10:32] 7saikat7 commented on #54
@Atif0604  go for it and feel free to discuss cause we will be needing a proper structure!

[2022-01-03 10:49] Atif0604 commented on #54
Sure

[2022-01-03 13:07] arpit456jain commented on #7
@vaibhav-305 make PR ASAP because we are going to **migrate it into Django soon.**  send it whatever u have done.
further work be done another PR its a very big work don't do it in one PR.

[2022-01-03 13:07] #74 closed

[2022-01-03 13:29] arpit456jain opened #79 "checking"

[2022-01-03 13:29] #79 closed

[2022-01-03 13:34] arpit456jain opened #80 "testing"

[2022-01-03 13:35] #52 closed

[2022-01-03 13:35] #80 closed

[2022-01-03 13:36] arpit456jain opened #81 "Make a mentor section just below the project admin section and add the mentors"
these are the mentors add their name, pics and url of GitHub profile just like the Project admin section

@ankitapuri @7saikat7 @Snehaa1203

[2022-01-03 14:56] Snehaa1203 commented on #81
in the readme ?

[2022-01-03 15:40] arpit456jain commented on #81
yes @Snehaa1203

don't worry its not for u its for contributors , I mention the user id so that its easy for them to find mentors profile

[2022-01-04 09:34] #63 closed

[2022-01-04 09:43] 7saikat7 opened #83 "Add django project structure and apps"
Currently, we are done with the front end as of now and build a proper backend structure with apps
Coding easy ---->auth
                    |----->courses
                    |------>home

like this , you don't have to run the whole project just create a proper structure and make a route for homepage only .

[2022-01-04 10:12] Atif0604 commented on #81
I can work on this

[2022-01-04 10:35] arpit456jain commented on #81
ok do it asap @Atif0604  and the migration also

[2022-01-04 10:54] Atif0604 commented on #81
Yup I'm up on the migration

[2022-01-04 12:47] #81 closed

[2022-01-04 19:31] tandrimasingha commented on #53
Full name: Tandrima Singha
GitHub Profile Link :https://github.com/tandrimasingha
Participant ID:1044
Approach for this Project: Adding documentation for virtual environment
Are you a participant in SWOC 2.0?
YES

[2022-01-05 03:44] #54 closed

[2022-01-05 04:56] Atif0604 commented on #6
can i work?

[2022-01-05 07:30] tandrimasingha commented on #53
Sir please can you tell me how to do the documentation.
I couldn't understand how to proceed.

[2022-01-05 12:58] #6 closed

[2022-01-05 13:03] arpit456jain commented on #83
@Snehaa1203  @7saikat7 please look into this issue

[2022-01-05 14:21] geetika005 commented on #51
Can you please assign this issue to me ,i am a swoc22 participant

[2022-01-06 05:56] Snehaa1203 commented on #83
Who is working on this?

[2022-01-06 13:54] arpit456jain commented on #83
@Snehaa1203  currently no one but this is a urgent issue so if no contributor is taking this up , you  and @7saikat7 can make a basic structure...

one more thing @7saikat7 please create some more simple issue regarding backend

[2022-01-06 13:56] arpit456jain opened #89 "A dynamic notice page on which we can post things from admin panel"

[2022-01-06 13:57] arpit456jain opened #90 "make a contact us page implement contact us section in backend"

[2022-01-06 13:58] arpit456jain opened #91 "implement a download csv feature in admin panel for downloading the data as csv file"

[2022-01-06 13:58] Snehaa1203 opened #92 "Add Some Colors To C++ Content Page"

[2022-01-06 13:59] arpit456jain opened #93 "integrate YouTube player in all courses"

[2022-01-06 14:00] arpit456jain opened #94 "integrate editors to run the code dynamically like w3school and codepen"

[2022-01-06 14:01] arpit456jain commented on #53
@Snehaa1203 can you please help her

[2022-01-06 14:01] Snehaa1203 commented on #83
Okay, will see to it.

[2022-01-06 14:02] arpit456jain commented on #7
@vaibhav-305 the project is migrated to Django but you didn't make the PR

[2022-01-06 14:04] Snehaa1203 commented on #53
Do we have to update the Readme?
Or its a separate section in project?

[2022-01-06 14:04] arpit456jain commented on #53
in read me for project setup

[2022-01-06 14:09] Snehaa1203 commented on #53
https://docs.djangoproject.com/en/4.0/howto/windows/
Grab content from here, or you can go through some more documentation.
You can make changes in your cloned repo's readme.
Lmk if you get stuck somewhere. @tandrimasingha

[2022-01-06 14:13] tandrimasingha commented on #53
How to do the stuffs can you please help me out. @Snehaa1203

[2022-01-06 14:35] tandrimasingha commented on #53
Do I need to make a webpage on virtual environment @Snehaa1203

[2022-01-06 14:55] Snehaa1203 commented on #53
No, just update the readme.

[2022-01-06 14:57] tandrimasingha commented on #53
So in the readme of Coding Easy, I have to add how to create a virtual environment

[2022-01-06 14:57] Snehaa1203 commented on #53
Fork this repo, clone your forked version.
In your local setup, add a separate section in readme as "PROJECT SETUP"
add the content for setting up the virtual environment there.
push the changes.
make a PR
then we'll review and merge it.
Is it fine @arpit456jain ?

[2022-01-06 17:06] arpit456jain commented on #53
Yes

[2022-01-06 17:09] Atif0604 commented on #90
we just have to make contact us page and add the page to existing Django app ,right??

[2022-01-06 17:15] arpit456jain commented on #90
yes but have to implement the backend also but you can done that in another PR first just make contact us page and link it in Django app must discuss with @7saikat7

[2022-01-06 17:18] Atif0604 commented on #90
sure
will do that

[2022-01-07 03:36] 7saikat7 commented on #91
You can try with the Django import export which let you download in various file extension.

[2022-01-07 04:07] devesh-2002 commented on #92
May I take up the issue?

[2022-01-07 04:43] Atif0604 commented on #83
assign me

[2022-01-07 08:03] Snehaa1203 commented on #92
Go ahead

[2022-01-07 17:17] devesh-2002 commented on #92
<img width="960" alt="image" src="https://user-images.githubusercontent.com/79015420/148581355-2e62b89e-5374-461a-a5d5-baef3134febd.png">
<img width="959" alt="image" src="https://user-images.githubusercontent.com/79015420/148581367-589e150f-a253-4e00-82ea-8b869854667a.png">
Should I add any more changes in this?

[2022-01-07 18:07] arpit456jain commented on #92
@Snehaa1203 @ankitapuri

[2022-01-07 18:15] Snehaa1203 commented on #92
Looks better, what about some fonts too?

[2022-01-07 18:16] Snehaa1203 commented on #92
also, the background color is looking a bit less attractive, could you try something else?
@devesh-2002

[2022-01-08 03:01] devesh-2002 commented on #92
Should I add a darker background with white font?

[2022-01-08 07:21] devesh-2002 commented on #92
<img width="959" alt="image" src="https://user-images.githubusercontent.com/79015420/148634772-d5f8ddd5-c8ae-49f8-898f-bc38e36770b0.png">
<img width="960" alt="image" src="https://user-images.githubusercontent.com/79015420/148634773-877cb1b7-2c6e-42be-9e58-37b4a57e7310.png">
Is this better?

[2022-01-08 07:25] Snehaa1203 commented on #92
Previous one was better than this!!

On Sat, Jan 8, 2022, 12:51 Devesh Rahatekar ***@***.***>
wrote:

[2022-01-08 07:56] devesh-2002 commented on #92
What should I do now?

[2022-01-08 08:01] Snehaa1203 commented on #92
Make it thr previous one and make a PR,I will merge the pr,

On Sat, Jan 8, 2022, 13:27 Devesh Rahatekar ***@***.***>
wrote:

[2022-01-08 12:37] #51 closed

[2022-01-08 12:49] arpit456jain commented on #83
@Atif0604 make  a new PR for this

[2022-01-08 18:16] #83 closed

[2022-01-09 13:05] #92 closed

[2022-01-11 18:27] #53 closed

[2022-01-11 18:27] #7 closed

[2022-01-11 18:28] #9 closed

[2022-01-23 12:28] harikishantk commented on #91
I would like to work on it. Have quite work experience in Django. Could you assign me up @arpit456jain ..

[2022-01-26 13:00] harikishantk commented on #91
Hey there,
There isn't any models created inside the [Dashboard/models.py](https://github.com/arpit456jain/CodingEasy/blob/master/DashBoard/models.py). I had installed necessary installation as per mentor @7saikat7  said above and froze it into `requirements.txt` file. If I merged PR, then only `requirements.txt` would be added.

[2022-01-26 13:37] harikishantk commented on #91
# 1. Create Model
![image](https://user-images.githubusercontent.com/58771359/151171678-a52c74a5-cecf-4912-b44d-6af80677bcc1.png)
# 2. Register the app in the admin.py
![image](https://user-images.githubusercontent.com/58771359/151171780-8d90aa96-08ac-4c57-8f53-6cfe0f5321de.png)
# 3. Create data and save
![image](https://user-images.githubusercontent.com/58771359/151172092-30271fb3-9ed1-4ad6-9168-

[2022-01-26 15:42] arpit456jain commented on #91
@7saikat7 please check his PR

[2022-01-28 09:25] astha2412 commented on #32
Adding C course.....Plz assign @arpit456jain

[2022-01-28 11:20] astha2412 opened #111 "Want to add Git GitHub Course"
Plz Assign @arpit456jain

[2022-01-28 13:02] #91 closed

[2022-01-30 11:00] prateekmohanty63 commented on #90
Hello
If this issue if still not resolved
I am interested on working of this

[2022-01-30 11:07] prateekmohanty63 commented on #93
Hello I am interested in taking up this issue
Please tell me what needs to be done
And assign me this
Thank you

[2022-01-30 11:08] prateekmohanty63 commented on #93
Please assign under SWOC

[2022-01-30 11:12] arpit456jain commented on #90
@prateekmohanty63 there is a bug in the contact us features i am creating a new issue for that comment on that i will assign you

[2022-01-30 11:12] #90 closed

[2022-01-30 11:13] arpit456jain opened #113 "Bug in contact us feature"

[2022-01-30 11:13] #111 closed

[2022-01-30 11:13] arpit456jain commented on #93
Go ahead @prateekmohanty63

[2022-01-30 11:44] prateekmohanty63 commented on #93
Can you please tell me what is the requirement exactly

[2022-01-30 11:44] prateekmohanty63 commented on #93
Like I have to integrate youtube link for the courses?

[2022-01-30 16:08] prateekmohanty63 commented on #93
@arpit456jain can you please explain m doubt

[2022-01-30 16:49] arpit456jain commented on #93
@prateekmohanty63  i want a UI like this
https://codewithharry.com/videos/data-structures-and-algorithms-in-hindi-1/

in which we can links our videos from youtube

[2022-01-31 05:46] prateekmohanty63 commented on #93
@arpit456jain i have made the page
where all the course videos can come in a single page

[2022-01-31 05:55] prateekmohanty63 commented on #93
should i sent a pr to the master branch
or my branch ?

[2022-01-31 06:53] arpit456jain commented on #93
Master @prateekmohanty63

[2022-01-31 06:56] prateekmohanty63 commented on #93
sure

[2022-01-31 09:30] #93 closed

[2022-01-31 09:37] arpit456jain commented on #113
@prateekmohanty63 can u do this ?

[2022-01-31 09:38] prateekmohanty63 commented on #113
Yes sure Assign me
I will do it
@arpit456jain

[2022-01-31 09:43] arpit456jain commented on #113
actually there is no models for contact us so do this.
1.move urls (only contact us for now) from Codingeasy project app to home app because we can't create models there
![image](https://user-images.githubusercontent.com/55352601/151770989-93590606-cfd0-4234-b2b5-eba53e61133f.png)

[2022-01-31 09:44] arpit456jain commented on #113
And move its code from codingeasy.views to home.views
![image](https://user-images.githubusercontent.com/55352601/151771150-ca6db203-0cb4-4ce5-8906-0139587acb7f.png)

[2022-01-31 09:44] arpit456jain commented on #113
i hope you got it @prateekmohanty63

[2022-01-31 11:49] prateekmohanty63 commented on #113
@arpit456jain done

[2022-01-31 12:04] prateekmohanty63 commented on #113
@arpit456jain  should I use that code which you have shown in the picture?

[2022-01-31 18:27] arpit456jain commented on #113
its on u @prateekmohanty63 i just want the contact us faeture to be implemented the previous contributor has used that code

[2022-01-31 19:14] prateekmohanty63 commented on #113
ok got it , i will try doing it asap

[2022-02-01 16:11] prateekmohanty63 commented on #113
@arpit456jain I have written the code for contact
Sending a mail to coding easy

[2022-02-01 16:12] prateekmohanty63 commented on #113
But the fact is that I am unable to test is because due to some reason the front end is not sending the post request to the desired route

[2022-02-01 16:12] prateekmohanty63 commented on #113
But the code which I have used works perfectly fine
cause i have used it in my own project to send mails

[2022-02-01 16:48] arpit456jain commented on #113
@Snehaa1203 can you please help him

[2022-02-01 17:36] prateekmohanty63 commented on #113
![image](https://user-images.githubusercontent.com/72243320/152020455-1b95b4df-d125-47ac-8b7b-6eb6bb62b34f.png)
This is the code @arpit456jain

[2022-02-05 08:07] arpit456jain opened #117 "Link pages in ml to django url"

[2022-02-05 10:56] prateekmohanty63 commented on #113
@arpit456jain  I have fixed the code
and also checked it using postman for the email sending

[2022-02-05 10:57] prateekmohanty63 commented on #113
In the setting.py I have my email credentials
Hence I am removing them
Add your own credentials and it would work fine

[2022-02-05 10:59] prateekmohanty63 commented on #113
![image](https://user-images.githubusercontent.com/72243320/152639307-f926e4cc-4527-4d1d-a0b5-6924900a35e5.png)

Here is the postman screenshort

[2022-02-05 11:43] arpit456jain commented on #113
Ok @prateekmohanty63 great 👍

[2022-02-05 11:53] prateekmohanty63 commented on #113
@arpit456jain  I just removed the space can you check it

[2022-02-05 12:01] prateekmohanty63 commented on #113
Ok @arpit456jain I will fetch from upstream and send the pr by today

[2022-02-05 13:08] arpit456jain commented on #113
Sure @prateekmohanty63
Don't worry u will get a hard label

[2022-02-05 15:27] Atif0604 commented on #117
hey @arpit456jain
Can you assign me

[2022-02-05 16:48] prateekmohanty63 commented on #113
@arpit456jain I have resolved all the conflicts
Please review the code and merge it

[2022-02-05 17:17] prateekmohanty63 commented on #113
@arpit456jain  I have a doubt can you explain me one thing
Like how will these contributions be counted for my SWOC profile
Like is it linked or something

It is my first time so I am not sure :)

[2022-02-05 17:32] arpit456jain commented on #117
@Atif0604 link all the pages of ml which are not linked

[2022-02-05 17:34] arpit456jain commented on #113
@prateekmohanty63 u have to comment your partipant on Google sheets of project id 11 after that i can update your points there.

[2022-02-05 17:38] prateekmohanty63 commented on #113
oh wow thanks
@arpit456jain if there are anymore stuff that I can do
Please do let me know

And thanks for all your support

[2022-02-05 17:52] prateekmohanty63 commented on #113
@arpit456jain

![image](https://user-images.githubusercontent.com/72243320/152653041-226d61cc-4a72-4ae2-8d9c-24ec4ec8d442.png)

It is showing locked , how should i Enter my pr number there?

[2022-02-05 18:23] prateekmohanty63 commented on #113
![image](https://user-images.githubusercontent.com/72243320/152654074-10b96e2c-b4cc-4e53-8a3c-af72406311fe.png)

@arpit456jain  Like they have written these numbers I am confused what are these numbers
And what should I write?

[2022-02-06 08:27] arpit456jain commented on #113
@prateekmohanty63 u can contact to any participant they can tell you better than me

[2022-02-06 08:28] #117 closed

[2022-02-06 13:35] Atif0604 opened #122 "Link remaining ML Pages to Django"
Hey @arpit456jain
Please assign

[2022-02-06 16:18] woterr commented on #3
yeah i dont know the website URL as https://coding-easy.netlify.app isnt actually working, if i look at the current UI, i could prossibly update it

![image](https://user-images.githubusercontent.com/83902185/152690329-6c60031c-f415-47fa-b007-760f3feade32.png)

[2022-02-06 19:53] arpit456jain commented on #3
Actually it has been migrated to django u have to run it on local system

[2022-02-09 05:58] #122 closed

[2022-02-26 02:58] HarshKumarChoudary commented on #89
I want to work on this issue under GSSOC 22
Please assign it to me. I will create PR after 1 march.

[2022-02-27 13:03] SheetalChouhan12 commented on #32
@arpit456jain Please assign the role for Adding Django course

[2022-02-28 15:59] AGENT-SRINJOY opened #126 "Styling is needed in the UI."
styling is needed in  the navigation bar , fonts and some more .

[2022-02-28 17:57] CoderSahil128 commented on #126
Hi there. I'm a GSSOC 2022 contributor. I've done a few projects regarding front-end, previously. So I can do this project in a better way .Plz assign this project to me.

[2022-02-28 18:07] Vaishnavi1411 commented on #94
Hii @arpit456jain I wish to work on this as a GSSOC 22 participant.
Can you please assign this to me!!

[2022-02-28 18:13] kalashvasaniya commented on #3
Hey, I want to work on this issue!

[2022-03-01 04:12] Khushbu-kumari-87090 opened #127 "want to add best features"
hello @arpit i really want to work on this project so can you please assign me. i am gssoc contributor.

[2022-03-01 07:27] codervivek5 commented on #113
I can remove this bug in contact us page plz assign it me.

[2022-03-01 09:00] saiadityaviswanadham opened #129 "Modified the Navigation bar in Pricing and features and Fixed the contact view"
The Navigation bar was modified such that users can navigate from Pricing and Features page such that users can directly go to login/signup and contact page from the existing page.  Contact view was having an error an was fixed

[2022-03-01 09:01] saiadityaviswanadham commented on #129
/assign

[2022-03-01 09:24] Akash-Singh-007 opened #130 "add hot topics list in navbar"
Adding a list of top 3-5 cources in the navbar for easy search.

[2022-03-01 09:27] SayedTabish72 commented on #129
## 🙋‍♂️𝗛𝗶 [Sai Aditya Viswanadham](https://github.com/saiadityaviswanadham)
This is [Sayed Tabish](https://github.com/SayedTabish72). I'm participant of **GirlScript Summer Of Code 2022.**  And also I'm Experienced Freelance Web Developer with a demonstrated history of working in the internet industry. Strong engineering professional with a Bachelor of Technology - BTech focused in Information Tec

[2022-03-01 09:59] Susmita-Dey opened #131 "[DOCUMENTATION] Readme file enhancement."
I want to enhance the README.md file of this repo.
I'm a GSSOC'22 contributor and I can work on this issue.
Kindly assign it to me.

[2022-03-01 13:27] Avik-creator commented on #131
I would like to take this issue. If it is up for grabs I would like to take it

[2022-03-01 13:34] arpit456jain commented on #131
go ahead @Susmita-Dey

[2022-03-01 13:35] Susmita-Dey commented on #131
Thanks for assigning it to me.
**Kindly give this issue and my upcoming PR labelled as GSSOC22 so that mentors can count my contribution.**

[2022-03-01 13:41] Aman16-ai opened #133 "AttributeError: module 'CodingEasy.views' has no attribute 'contact'"

[2022-03-01 13:47] Aman16-ai commented on #133
please assigne this issue to me

[2022-03-01 13:48] arpit456jain commented on #129
hey @SayedTabish72 we have to follow the rule  of first come first serve

[2022-03-01 13:50] arpit456jain commented on #126
@srinjoy-26 first come first serve .
if he is unable to do it i will assign it to you

[2022-03-01 13:52] arpit456jain commented on #32
go ahead @SheetalChouhan12

[2022-03-01 13:54] arpit456jain commented on #94
go ahead @Vaishnavi1411

[2022-03-01 13:54] arpit456jain commented on #130
@Akash-Singh-007 can u implement search feature ?

[2022-03-01 13:54] Aman16-ai commented on #32
Please assign me for the java course

[2022-03-01 13:56] Khushbu-kumari-87090 commented on #127
i  have familiar with  html,css and java script so i add to create some awesome fonts and add  to some cool webpages under your guidance. so please assign me.

[2022-03-01 13:58] Khushbu-kumari-87090 commented on #127
and thanks for reply.

[2022-03-01 13:58] Akash-Singh-007 commented on #130
I will add a list of topics, so anyone can directly reach there instead of scrolling the whole page.

[2022-03-01 14:03] Khushbu-kumari-87090 commented on #127
and i have familiar with java so also code the project so  please assign me @Arpit.

[2022-03-01 14:11] Akash-Singh-007 commented on #130
I have made a similar project like this.

http://omnix.epizy.com/?i=1

You can check the menu bar

[2022-03-01 14:39] kiran11621 opened #137 "Sign in and Sign up of the website not working"
I would love to work on sign in and sign up part of the project.

[2022-03-01 14:59] kiran11621 commented on #137
Welcome, so is this issue assigned to me?

[2022-03-01 15:02] kiran11621 opened #138 "Work on UI of the Webpages"
I would like to improve the UI of the home page. I will add attractive cards and an appropriate carousel to make it look good and user-friendly.

So, please do assign me this issue.
#gssoc

[2022-03-01 16:19] Aditya3403 commented on #137
I would like to work on this issue. Kindly assign this issue to me.

[2022-03-01 16:21] Aditya3403 commented on #126
Sir, I would like to work on this issue. Kindly assign this issue to me.

[2022-03-01 17:07] ephemeralshay opened #139 "[ENHANCEMENTS] Create a Proper Folder Architecture, a "Blogs" Section and Improving Authentication System."
**1. Create a Blogs Section -**
(a) Present users with insightful (concise yet powerful) blogs, which talk about various tech domains.
(b) Allow users to create, read, update and delete blog. Users other than author cannot delete the blogs.
(c) Authors can have their profile pics on the blog preview card. Clicking on it leads to their Profile on the website.

**2. Improve Authentication System and

[2022-03-01 17:30] Pradumnasaraf opened #140 "docs: Fix & Improve PR Template"
### Changes

- The PR template is not working due to its wrong naming convention. (PULL_REQUEST_TEMPLATE)

####  Due to that we are also missing out on some checks on the community standards checklist

![Screenshot from 2022-03-01 22-57-24](https://user-images.githubusercontent.com/51878265/156218727-94fe106e-1ce2-49e9-9b4b-590f07706d66.png)

#### Contribution towards GSsoc`22, Thank you

[2022-03-01 17:33] Pradumnasaraf opened #141 "docs: Add Issue Templates"
### Chnages
- Adding Issue templates
- Template path **`.github/ISSUE_TEMPLATE`**

###Template Types
![Screenshot from 2022-03-01 21-03-49](https://user-images.githubusercontent.com/51878265/156198784-b2e8d551-3df4-4aff-a7c7-051a88c344c0.png)

### Template Preview (while creating an issue - bug.)
![Screenshot from 2022-03-01 18-03-48](https://user-images.githubusercontent.com/51878265/156169861-53

[2022-03-01 17:34] Pradumnasaraf opened #142 "docs: Add Code of Conduct"
### Changes
- Add official `CODE_OF_CONDUCT.md` (provided by GitHub)

#### Due to that we are also missing out on some checks on the community guidelines checklist

![Screenshot from 2022-03-01 22-57-24](https://user-images.githubusercontent.com/51878265/156219349-6fd590eb-d732-46ef-8565-60fc25824f40.png)

### Also, Please provide an Email to include that in the Code of Conduct

#### Contribution

[2022-03-01 18:46] #131 closed

[2022-03-01 21:48] arpit456jain commented on #113
@codervivek5 go ahead
implement 2 things
1. the query should send to my mail
2. save it in database

[2022-03-01 21:49] arpit456jain commented on #137
@kiran11621 i hop u can implement the login and signup part

[2022-03-01 22:46] Sakshi-Gupta06 commented on #3
I want to work on the design part of the website.
please assign me

[2022-03-02 01:53] diptishegar commented on #32
@arpit456jain please assign me the role for adding React Js course.

[2022-03-02 05:07] nikhil25803 commented on #3
Thank You. On it!

[2022-03-02 09:45] kiran11621 commented on #137
Yes, Arpit Jain I can. Please do assign me.

On Wed, Mar 2, 2022 at 3:19 AM Arpit Jain ***@***.***> wrote:

[2022-03-02 10:59] Aman16-ai commented on #137
can u please assign me this issue

[2022-03-02 15:50] prateekmohanty63 opened #147 "Logo redirect correction"
The left logo of coding easy on clicking doesn't redirect the user to index.html
Instead its giving an error

I want to fix this issue, can you please assign me this under GSSOC22

[2022-03-02 16:29] sripor62 opened #148 "Dashboard"
I want to improve the dashboard and make it more attractive as it has an HttpResponse of  hello dashboard now

[2022-03-02 16:53] #141 closed, assigned to nobody

[2022-03-02 16:55] #140 closed

[2022-03-03 08:29] Atif0604 opened #149 "Link ML pages to Django"
### Description

Want to connect ML Pages to Django Pages
Please Assign me under GSSOC'22

### Screenshots

_No response_

[2022-03-03 12:42] Suvodeep-Das commented on #32
Full Name: Suvodeep Das
GitHub Profile Link: https://github.com/Suvodeep-Das
Objective: I want to add machine learning concepts related to One Hot Encoding, K-Fold Cross Validation, Gridsearch, and Naive Bayes.
GSSoC'22 Participant.

I would like to work on this issue.

[2022-03-03 18:08] aayushray commented on #130
I can implement navbar, that will be having the options to search a topic,  and it will contains the courses list, described within the heading. For example, **Programming language** will contain topics like C++, Java, Javascript **Web Development** part  will contain HTML, CSS, Bootstrap course, and similarly, Machine learning course will be a separate one.

[2022-03-03 18:11] aayushray commented on #130
/assign

[2022-03-03 18:13] aayushray commented on #133
Can solve this issue, as there are few mistakes in the code, that has to be rectified.

[2022-03-03 18:35] Vaishnavi1411 commented on #94
![editor-tour](https://user-images.githubusercontent.com/71778469/156629466-223e2a7e-c77d-4114-8701-c35401661cab.png)
Hii @arpit456jain !!
How does it looks, Can I create an editor like this using HTML, CSS, and JS...

[2022-03-04 05:02] prateekmohanty63 commented on #147
@arpit456jain

[2022-03-04 10:32] Abhilasha-Jairath commented on #3
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 10:33] Abhilasha-Jairath commented on #32
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-04 13:25] Atif0604 commented on #149
Hey @arpit456jain Please assign

[2022-03-04 14:03] bhavyapathak20 commented on #148
@saketsagarsingh
I would like to work on this issue.
My Skills in web development :

1)HTML
2)CSS
3)Bootstrap
4)Javascript
5)Jquery

My experience :
5+ months of experience in UI design.
Worked on Hands-on projects. My Github repo shows it

[2022-03-04 15:43] sripor62 commented on #148
hey.Actually I am new to open source ...I am not getting exactly why you have commented this

[2022-03-05 04:40] HarshKumarChoudary commented on #137
Please consider me next in the queue if the issue is not resolved. I'm a GSSOC22 participant

[2022-03-05 04:40] HarshKumarChoudary commented on #133
Please consider me next in the queue if the issue is not resolved. I'm a GSSOC22 participant

[2022-03-05 04:41] HarshKumarChoudary commented on #94
Please consider me next in the queue if the issue is not resolved. I'm a GSSOC22 participant

[2022-03-05 04:42] HarshKumarChoudary commented on #94
@Vaishnavi1411 I guess you need to create a dynamic editor which displays the results. This could be done using APIs, just using HTML and CSS won't work.

[2022-03-05 04:43] HarshKumarChoudary commented on #149
Please consider me next in the queue if the issue is not resolved. I'm a GSSOC22 participant

[2022-03-05 05:02] suman-shah commented on #32
I want to work on this under GSSOC2022. Can you assign it to me.

[2022-03-05 10:21] Tusharjagi opened #152 "Page Not found"
### Description

## Description
- When we click on  _Coding Easy_  in Nav section it show  ***Page Not Found***

### Screenshots

![screencapture-127-0-0-1-8000-index-html-2022-03-05-15_30_16](https://user-images.githubusercontent.com/12596457/156878689-4372260b-02e6-424b-a875-84ce26deb350.png)

[2022-03-05 16:59] ephemeralshay opened #154 "[FEATURE] Completely Reworked Project"
### Description

1. Create a proper folder architecture
2. Create a blogpost app
3. Create a functional authentication system

### Screenshots

_No response_

[2022-03-06 03:39] rajat4885 commented on #137
I would like to work on this issue, can you please assign me? I am a GSSOC'22 participant.
Kindly assign me this issue.

[2022-03-07 02:22] ephemeralshay opened #160 "Fixing up links in some pages"
### Description

There are some link that have not been updated as per new folder structure

### Screenshots

_No response_

[2022-03-07 02:26] Himanshu664 commented on #160
/assign

[2022-03-07 04:07] arpit456jain commented on #160
@ephemeralshay go ahead

[2022-03-07 04:07] #154 closed

[2022-03-07 04:08] arpit456jain commented on #138
@kiran11621 u can start work now please make PR asap

[2022-03-07 04:08] arpit456jain commented on #126
@AGENT-SRINJOY make PR

[2022-03-07 04:09] arpit456jain commented on #152
@Tusharjagi check again
if still there is any page which is missing do let me know

[2022-03-07 06:44] prateekmohanty63 commented on #147
@arpit456jain  can you assign me this task?

[2022-03-07 06:51] prateekmohanty63 commented on #147
![image](https://user-images.githubusercontent.com/72243320/156982237-e1205cd6-569e-4115-9cfd-3ccb99212b35.png)

[2022-03-07 08:05] arpit456jain commented on #147
ok @prateekmohanty63

[2022-03-07 09:03] KKhushhalR2405 opened #163 "[Style] Adding template inheritance"
### What would you like to share?

<details>
  <summary>C</summary>

  - [ ] [Constants/Literals](https://github.com/arpit456jain/CodingEasy/tree/master/templates/home/C/Constants/Literals) ||  Assigned to
  - [ ] [Data_Types](https://github.com/arpit456jain/CodingEasy/tree/master/templates/home/C/Data_Types) || Assigned to
  - [ ] [Modifiers](https://github.com/arpit456jain/CodingEasy/tree/master

[2022-03-07 09:04] #163 closed

[2022-03-07 09:07] KKhushhalR2405 opened #164 "[Style] Adding template inheritance"
### What would you like to share?

### What would you like to share?

<details>
  <summary>C</summary>

  - [ ] [Constants/Literals](https://github.com/arpit456jain/CodingEasy/tree/master/templates/home/C/Constants/Literals) ||  Assigned to
  - [ ] [Data_Types](https://github.com/arpit456jain/CodingEasy/tree/master/templates/home/C/Data_Types) || Assigned to
  - [ ] [Modifiers](https://github.com/

[2022-03-07 09:07] #164 closed

[2022-03-07 09:32] KKhushhalR2405 opened #165 "[Style] Add Template Inheritance"
Contributions are needed to restructure the templates and use [template inheritance](https://docs.djangoproject.com/en/4.0/ref/templates/language/)  to improve code reusability.

**Task**
Code for navbar and footer is written in every template which has to be removed. The base.html defines the skeleton HTML template and all other templates should inherit from it using `block`.

Below are the files

[2022-03-07 16:32] KKhushhalR2405 commented on #165
Assigning you the same

[2022-03-07 16:33] KKhushhalR2405 opened #167 "Basic || Assigned to"

[2022-03-07 16:34] #167 closed

[2022-03-08 06:31] prateekmohanty63 commented on #147
@arpit456jain  I have created the PR for this issue
Please review the PR and merge it
Thank you

[2022-03-08 06:48] Tusharjagi commented on #152
@arpit456jain Same Issue
- That issue not solved.
- Continue Shows Page Not found (404)

[2022-03-08 07:18] KKhushhalR2405 commented on #152
Hi @Tusharjagi, This issue has been solved a few days back. Are you sure you are using the updated version of the code? Try pulling the latest code and see if the problem still persists. Thank You

[2022-03-08 10:09] #113 closed

[2022-03-08 10:10] #89 closed

[2022-03-08 10:11] #133 closed

[2022-03-08 10:11] #137 closed

[2022-03-08 10:11] #152 closed

[2022-03-08 10:16] #147 closed

[2022-03-08 10:25] arpit456jain commented on #165
hey @sripor62 actually we just added template inheritance to project  please check out the project and do let us know if it can be added to anymore page create a new issue for that

[2022-03-08 10:25] #165 closed

[2022-03-08 11:39] sripor62 commented on #165
In the contact us a toggling sidebar or  navbar can be added.

On Tue, 8 Mar 2022, 15:56 Arpit Jain, ***@***.***> wrote:

[2022-03-08 12:25] sripor62 opened #169 "Updating feature.html"
### Description

The feature.html file can be updated as presented in the screenshot

### Screenshots

![Screenshot (215)](https://user-images.githubusercontent.com/94283961/157237640-9202ba21-36b9-4c35-8783-09f794fe68d4.png)

[2022-03-08 12:56] kiran11621 commented on #138
Yes I will make today

On Mon, Mar 7, 2022 at 9:38 AM Arpit Jain ***@***.***> wrote:

[2022-03-08 13:00] rishav-karanjit commented on #169
Can I get assigned to this issue?

[2022-03-08 17:09] #148 closed

[2022-03-08 17:10] KKhushhalR2405 commented on #169
Assigning you the same @sripor62

[2022-03-08 17:19] sripor62 commented on #169
@KKhushhalR2405  I have worked on the code .Now what should I do?Can you plz help

[2022-03-08 18:06] arpit456jain commented on #94
@Vaishnavi1411 he is right are u able to do it?

[2022-03-08 18:08] arpit456jain commented on #126
go ahead @CoderSahil128 make PR within 2 days

[2022-03-08 18:08] arpit456jain commented on #32
create  a new issue for that and start working

[2022-03-08 18:09] arpit456jain commented on #32
create a new issue

[2022-03-08 18:10] arpit456jain commented on #139
@ephemeralshay in this PR just work on blog system for admin only

[2022-03-08 18:42] Vaishnavi1411 commented on #94
Yes sir I know about API.I am able to do it.

[2022-03-09 08:54] arpit456jain commented on #139
@ephemeralshay

[2022-03-09 08:55] arpit456jain commented on #149
@Atif0604 make PR asap

[2022-03-09 08:57] arpit456jain commented on #130
its not needed

[2022-03-09 08:57] arpit456jain commented on #130
@aayushray create a issue for that

[2022-03-09 08:57] #130 closed

[2022-03-09 08:59] arpit456jain commented on #129
i am not getting what u want to do first pull the latest changes and then create a new issue and attach some ss for better understanding

[2022-03-09 08:59] #129 closed

[2022-03-09 09:00] arpit456jain commented on #129
@SayedTabish72 create ur own issue if u want to add something

[2022-03-09 09:00] arpit456jain commented on #94
ok @Vaishnavi1411 go ahead

[2022-03-09 09:04] #32 closed

[2022-03-09 09:07] arpit456jain opened #170 "Adding a new course"
### Description

if u want to add a new course **create a new issue** for that and explain it in brief

**Do not comment under this issue** for assign this is a general issue
Do not spam in its comment section.

example for New courses which can be added
1.React
2.django
3.Java
4.STL

and so on

### Screenshots

_No response_

[2022-03-09 09:12] arpit456jain commented on #127
@Khushbu-kumari-87090 please contact to mentors in our channel tag them and describe the feature u want to add they will assign u

[2022-03-09 09:38] aayushray opened #171 "Updating Navbar"
### Description

Implementation of navbar, that will be having the options to search a topic, and it will contains the courses list, described within the heading. For example, Programming language will contain topics like C++, Java, Javascript Web Development part will contain HTML, CSS, Bootstrap course, and similarly, Machine learning course will be a separate one. Further, the navbar will have

[2022-03-09 10:00] Atif0604 commented on #149
Hey @arpit456jain
there aren't any ML pages left as i see
i guess it got connected in the latest PR

[2022-03-09 10:11] SheetalChouhan12 opened #172 "Adding Django Course"
### Description

I want to add Django course in the courses section of the website

### Screenshots

_No response_

[2022-03-09 13:14] Muhammad-Galhoum commented on #172
Hello @SheetalChouhan12  , I hope you fine
Can you please assign this issue to me

[2022-03-09 13:18] SheetalChouhan12 commented on #172
Hey I think you misunderstood , I'm already working on this issue .I just added this issue separately as @arpit456jain said

[2022-03-09 13:45] Suvodeep-Das opened #173 "Adding more courses"
### What would you like to share?

Full Name: Suvodeep Das
GitHub Profile Link: https://github.com/Suvodeep-Das
Objective: I want to add machine learning concepts related to One Hot Encoding, K-Fold Cross Validation, Gridsearch, and Naive Bayes.
GSSoC'22 Participant.

I would like to work on this issue.

[2022-03-09 14:27] Muhammad-Galhoum opened #175 "Adding more courses"
### Description

I will add a new **_Simple Course_** which is **jQuery**

### Curriculum

1. Overview
2. Attributes and Content
3. Manipulating CSS

### Screenshots

![jQuery](https://user-images.githubusercontent.com/56798376/157461231-bb4b0501-f096-4fd1-ba56-eac608fbb38f.png)

[2022-03-09 19:24] KKhushhalR2405 commented on #173
Hi @Suvodeep-Das.  We are working on making a template so that you can use it to add courses. We will update you when we are done. In meantime, you can start preparing the content and as soon as we provide the template, you can use it and make a PR. Thank You

[2022-03-09 19:25] KKhushhalR2405 commented on #175
Hi @Muhammad-Galhoum. We are working on making a template so that you can use it to add courses. We will update you when we are done. In meantime, you can start preparing the content and as soon as we provide the template, you can use it and make a Pull Request. Thank You

[2022-03-09 19:26] KKhushhalR2405 commented on #172
Hi @SheetalChouhan12. We are working on making a template so that you can use it to add courses. We will update you when we are done. In meantime, you can start preparing the content and as soon as we provide the template, you can use it and make a Pull Request. Thank You

[2022-03-09 19:33] KKhushhalR2405 commented on #171
Hi @aayushray, that's a nice feature. Having a search bar can really help the user to browse all the available courses. You can start working on it.

[2022-03-09 19:55] aayushray commented on #171
Sure, will start the work soon. Thank You for assigning the task.

[2022-03-09 22:03] KKhushhalR2405 commented on #175
The templates are provided [here](https://github.com/arpit456jain/CodingEasy/tree/master/templates/home/SampleCourse) along with the instructions. If you are not familiar with Django, you can leave the URL mapping part and mention it in the PR, so someone else will do it. If you are familiar with Django, you can try mapping the URLs on your own. You can always ask for help on our discord channel.

[2022-03-09 22:06] KKhushhalR2405 commented on #175
And can you please break the issue into 2 separate PRs. Add first 3 topics, make a PR and get it merged and then work on the remaining topics. It would be hard for us to review so many changes. You will also get more points if you make more PRs😇😇

[2022-03-09 22:08] KKhushhalR2405 commented on #173
The templates are provided [here](https://github.com/arpit456jain/CodingEasy/tree/master/templates/home/SampleCourse) along with the instructions. If you are not familiar with Django, you can leave the URL mapping part and mention it in the PR, so someone else will do it. If you are familiar with Django, you can try mapping the URLs on your own. You can always ask for help on our discord channel.

[2022-03-09 22:09] KKhushhalR2405 commented on #172
The templates are provided [here](https://github.com/arpit456jain/CodingEasy/tree/master/templates/home/SampleCourse) along with the instructions. If you are not familiar with Django, you can leave the URL mapping part and mention it in the PR, so someone else will do it. If you are familiar with Django, you can try mapping the URLs on your own. You can always ask for help on our discord channel.

[2022-03-09 22:32] Muhammad-Galhoum commented on #175
You wanna me to break this issue with only the first 3 topics and add another issue with the rest of the topics and you will assign me for them again? @KKhushhalR2405

[2022-03-09 22:39] KKhushhalR2405 commented on #175
Yes.

[2022-03-09 22:48] Muhammad-Galhoum opened #177 "Adding more courses"
### Description

**The rest of the jQuery Curriculum**

1. Manipulating DOM
2. Events
3. Effects

### Screenshots

![jQuery](https://user-images.githubusercontent.com/56798376/157551828-7da0f5fb-e301-4aeb-93ed-51d6a54b8075.png)

[2022-03-10 05:25] Suvodeep-Das commented on #173
@KKhushhalR2405 Sure. I will start working on it.

[2022-03-10 05:41] KKhushhalR2405 commented on #177
Hi @Muhammad-Galhoum. After you make a successful PR for #175, I will assign you with this issue😊. Thank you

[2022-03-10 16:34] KKhushhalR2405 commented on #149
Hi @Atif0604, Since the issue is no more relevant, I am closing it. You can look out for other issues. Thank You

[2022-03-10 17:55] ephemeralshay commented on #139
I'll first work on authentication system @arpit456jain

[2022-03-10 18:01] ephemeralshay opened #179 "Create a functional authentication system"
### Description

Add following features to the app-
1. login page
2. register page
3. login required to access courses
4. password reset functionality
5. contact us form

Note -
I plan to completely change the login and contact us page of the current project as they lack uniformity with the website.

### Screenshots

_No response_

[2022-03-10 19:26] SheetalChouhan12 commented on #172
Okay and Yes I know About Django

[2022-03-10 19:28] SheetalChouhan12 commented on #172
@arpit456jain @KKhushhalR2405  I'm new to GitHub , by mistake click on "unassigned " will someone assign me this issue again

[2022-03-10 20:16] arpit456jain commented on #139
Ok @ephemeralshay but make sure you only work on authentication no other feature

[2022-03-11 03:57] #175 closed

[2022-03-11 03:59] arpit456jain commented on #179
@ephemeralshay
work on only login and sign up in this PR

do not implement password reset functionality and contact us form

[2022-03-11 06:10] ephemeralshay commented on #179
Alright

[2022-03-11 06:25] saketsagarsingh commented on #3
@arpit456jain  I want to work on this issue as I have hands on experience on UI, please assign this issue to me under gssoc'22

[2022-03-11 06:25] saketsagarsingh commented on #170
/assign

[2022-03-11 06:26] saketsagarsingh commented on #170
@arpit456jain I want to work on this issue, please assign to me for gssoc'22

[2022-03-11 08:45] arpit456jain opened #180 "Implement contact us feature"
### Description

store the details from contact us page to database only for now and give a msg of success or failure

### Screenshots

_No response_

[2022-03-11 09:10] Muhammad-Galhoum commented on #177
Can u please assign me this issue please @KKhushhalR2405

[2022-03-11 09:34] Muhammad-Galhoum commented on #180
Hi @arpit456jain, I wish u are fine
Can you please assign me to this issue

[2022-03-11 18:13] vickyrules commented on #180
i want to contribute please assign it to me under GSSoc'22.

[2022-03-11 18:40] Muhammad-Galhoum commented on #180
I'm the first person who asked to solve  the issue
please choose another issue @vickyrules
please assign it to me @arpit456jain

[2022-03-11 21:43] arpit456jain commented on #180
@Muhammad-Galhoum make PR within 2 days otherwise i have to assign it to @vickyrules

[2022-03-11 21:44] Muhammad-Galhoum commented on #180
Ok, thanks @arpit456jain

[2022-03-12 12:08] Rushijaviya opened #183 "Steps are not in correct order in README"
### Description

In the 'How to Make a Pull Request?' section of the README file step 3 and step 4 are not in order.
Here we first need to go inside the CodingEasy folder and then we can set upstream.  Without going inside the folder of CodingEasy if we try to set upstream it gives an error 'fatal: not a git repository (or any of the parent directories): .git' .

### Screenshots

![image](https://

[2022-03-12 12:41] KKhushhalR2405 commented on #183
Assigning you the same @Rushijaviya

[2022-03-12 13:17] Muhammad-Galhoum commented on #183
@Rushijaviya  @KKhushhalR2405
I have noticed this issue but I made the right solution and continued to do my task.
And there is an error also which is exists in the command add. , the solution is should be space between the word 'add' and the '.' symbol

[2022-03-12 13:27] Rushijaviya commented on #183
Actually, I have already finished the work. I was exploring a project that's why I haven't done PR.

[2022-03-13 02:25] #177 closed

[2022-03-13 02:27] #183 closed

[2022-03-13 09:12] #179 closed

[2022-03-14 08:04] Arpana-Sharma commented on #180
hello, I wants to work on this issue

[2022-03-15 06:20] #180 closed

[2022-03-15 08:27] Rushijaviya opened #187 "Link in footer"
### Description

There is the link of [bootstrap](https://mdbootstrap.com/) in the footer of the home page. Is it added by mistake or added intentionally? There should be a link to Coding Easy. I would like to work on it.

### Screenshots

![image](https://user-images.githubusercontent.com/59735978/158336550-13a91f10-cade-47f9-9bd9-787e4b3f6155.png)

[2022-03-15 13:36] Muhammad-Galhoum opened #188 "Add (up to-button) ▲ and update the footer and add a subscription email"
### Description

## I will add (up to-button) ▲  to scroll to the top of the page if the user scrolls to the bottom or near the bottom of the page

## I will update the footer with the social media links of GSSoC 2022

## I will add a form in the footer with an email field to help the user sign up for the newsletter if a course is added

### Screenshots

_No response_

[2022-03-15 14:05] singhmansi25 commented on #188
@Muhammad-Galhoum
Why you want to add link to GSSOC'22 with the Coding Easy website? Couldn't understand, Please Elaborate

[2022-03-15 14:12] Muhammad-Galhoum commented on #188
## Only this is a suggestion, at least I will put  the link of this repo
## Can you assign me?
## @singhmansi25

[2022-03-15 14:15] singhmansi25 opened #189 "Updating ReadMe of CodingEasy repository"
### Description

This is a beginner level issue.
There are some discrepancy in the repo like incorrect links for GSSOC'22.
So, anyone who is new to opensource can contribute to this issue.
Please explain in brief what all changes you will do in brief, so that we can assign you the issue.

### Screenshots

_No response_

[2022-03-15 14:20] singhmansi25 commented on #3
@nikhil25803
What's the status of your work?

[2022-03-15 14:30] Muhammad-Galhoum commented on #189
## Can you assign this issue to me, please? @singhmansi25
## I will edit all incorrect links as you want?

[2022-03-15 14:32] Muhammad-Galhoum commented on #188
## Ok thanks @arpit456jain

[2022-03-15 14:33] Muhammad-Galhoum commented on #188
Do you want me to add any links for GSSoC ? @arpit456jain

[2022-03-15 14:46] SheetalChouhan12 commented on #172
Its 90% done

[2022-03-15 15:12] singhmansi25 commented on #189
@Muhammad-Galhoum
I liked your spirit of contribution, but this issue has been created to introduce beginners with open source.
U can contribute to other issues. If no one is assigned, then we will assign you.

[2022-03-15 15:14] singhmansi25 commented on #172
That's nice to hear.

[2022-03-15 15:33] KKhushhalR2405 commented on #187
Hi @Rushijaviya, For this issue, I think you have to wait for some time. We are currently updating the footer part (#188). Till then, you can work on #189 if you wish to. Thank you

[2022-03-15 15:33] #187 closed

[2022-03-15 15:35] KKhushhalR2405 commented on #173
What's the update @Suvodeep-Das. If you need any help you can ask for it on our discord channel. Try to make a PR as soon as possible.

[2022-03-15 15:39] KKhushhalR2405 commented on #172
Hi @SheetalChouhan12, just a suggestion. Do not make a PR with many changes. You can break your work into multiple parts if you think it is too heavy. Thank you

[2022-03-15 15:41] KKhushhalR2405 commented on #171
Hi @aayushray, Can you share your progress. You can always ask for help if you need it and try to make a PR as soon as possible.

[2022-03-15 15:42] #169 closed

[2022-03-15 15:52] Suvodeep-Das commented on #173
I am working on it as well as a bit busy with my exams.

[2022-03-15 16:22] SheetalChouhan12 commented on #172
I just completed with issue , added the Django course on local system . I was making a PR but currently I don't know how to make PR in multiple parts .

[2022-03-15 16:46] Rushijaviya opened #190 "Image not found"
### Description

In the SVM section of Machine Learning, there is one image not loading. The image name in the HTML file and image name in img folder of static is different. There is one 's' missing in the image name. I would like to fix it.

### Screenshots

![image](https://user-images.githubusercontent.com/59735978/158428433-fa0b8e7e-9fb6-4ec1-918c-91464dee35c1.png)

[2022-03-15 17:06] Rushijaviya opened #191 "Intention Error in python"
### Description

There is a python Indentation error in the example of an open file.

### Screenshots

![image](https://user-images.githubusercontent.com/59735978/158431457-7cbba32e-48c8-4c2d-b919-754b0e6172d4.png)

[2022-03-15 18:17] KKhushhalR2405 commented on #190
Assigning you @Rushijaviya

[2022-03-15 18:19] KKhushhalR2405 commented on #191
You can first complete the issue which is already assigned to you. I will assign you this one later.

[2022-03-16 05:07] Rushijaviya commented on #191
Sent PR for that issue. Now you can assign this one.

[2022-03-16 08:59] Jayanth-MKV opened #193 "Integrating Hierarchical clustering"
### Description

There is an issue with the hierarchical clustering module which is not linked properly to the machine learning module . This also includes the image associated with the hierarchical clustering module.

### Screenshots

![gssoc](https://user-images.githubusercontent.com/93820457/158553406-4ba21653-9b81-46d7-b1bc-06320b155472.png)

[2022-03-16 09:59] Jayanth-MKV commented on #193
/assign

[2022-03-16 12:49] mr-palindrome opened #194 "[FEATURE] User Authentication System- Signin/Signup"
### Description

There is no user authentication system like sign in or sign out or sign up. I would like to create an authentication system in the backend with an inbuilt table 'auth_users'.

### Screenshots

_No response_

[2022-03-16 16:55] KKhushhalR2405 commented on #193
As an additional task, please remove `Hierarchical Clustering` from `template/home` and add it inside the `template/home/ML` folder and change the URLs accordingly. If you need any help, you can ask us on our discord channel. Assigning you

[2022-03-16 16:59] KKhushhalR2405 commented on #191
I'll assign you once the PR is merged.

[2022-03-16 17:04] mr-palindrome commented on #194
Hi @KKhushhalR2405, Thank you for assigning me. I will add some view functions for SignIn and SignUp using auth_user model. I will not change the template as I'm not that good at front-end😅.

[2022-03-16 17:59] Jayanth-MKV commented on #193
yeah made PR it once have a check @KKhushhalR2405

[2022-03-16 18:58] #190 closed

[2022-03-16 18:59] #193 closed

[2022-03-16 19:01] KKhushhalR2405 commented on #191
Assigning you @Rushijaviya

[2022-03-16 19:01] arpit456jain opened #197 "bot is not adding label in PR"
### Description

bot is not adding label in PR it should add gssoc'22  label when PR is created

### Screenshots

_No response_

[2022-03-16 19:31] Jayanth-MKV opened #198 "Styling code in Bootstrap (proper indentation)"
### Description

Styling code in Bootstrap (proper indentation)

### Screenshots

![Screenshot (396)](https://user-images.githubusercontent.com/93820457/158674830-00f0bbb8-13ae-473a-a202-aae69a90c5e0.png)

[2022-03-17 04:25] Jayanth-MKV commented on #198
/assign

[2022-03-17 05:53] singhmansi25 commented on #189
**This issue is related to the github repository of Coding Easy and not with Coding easy website**

[2022-03-17 05:55] singhmansi25 commented on #198
@Jayanth-MKV
You can't self assign issues
Please ask mentors or project admin to assign you with the issue.

[2022-03-17 07:42] Jayanth-MKV commented on #198
Could you assign me this issue

[2022-03-17 09:35] Muhammad-Galhoum commented on #189
## Can you assign me, please? @singhmansi25

[2022-03-17 19:33] #191 closed

[2022-03-17 19:33] #188 closed

[2022-03-17 20:51] mr-palindrome opened #202 "[OTHER] Missing favicon"
### What would you like to share?

There is no favicon for the complete website.
I can add a handshake logo as a favicon.
![Annotation 2022-03-18 022038](https://user-images.githubusercontent.com/56421861/158892954-793a226d-75f4-4afb-bb34-3607957b0a2f.png)

[2022-03-17 22:05] Muhammad-Galhoum opened #203 "Adding reset password functionality"
### Description

**I will Add reset password function to help the user from reset his/her password**

### Screenshots

_No response_

[2022-03-18 10:00] #126 closed

[2022-03-18 10:00] #3 closed

[2022-03-18 10:01] arpit456jain opened #204 "Improve UI of website"
### Description

Improve UI of whole website in multiple PRs

### Screenshots

_No response_

[2022-03-18 10:02] arpit456jain commented on #94
@Vaishnavi1411 updates ?

[2022-03-18 10:03] arpit456jain commented on #198
@Jayanth-MKV go ahead

[2022-03-18 10:04] arpit456jain commented on #202
go ahead @mr-palindrome

[2022-03-18 10:05] arpit456jain commented on #189
go ahead @Muhammad-Galhoum and do this asap

[2022-03-18 10:06] arpit456jain commented on #138
@kiran11621 make PR asap for issue #204

[2022-03-18 10:06] #138 closed

[2022-03-18 10:06] #127 closed

[2022-03-18 10:08] arpit456jain commented on #139
@ephemeralshay implement the blog section asap

[2022-03-18 11:00] srinjoy-26 commented on #204
I would like to work on the navigation bar and a few styling regarding the home page.

[2022-03-18 11:01] ephemeralshay commented on #139
Okay

[2022-03-19 05:43] Manik-Aggarwal commented on #204
I would like to work on this issue, please assign it to me

[2022-03-19 08:07] KKhushhalR2405 commented on #204
Should we allow multiple people to work on this issue? @arpit456jain

[2022-03-19 11:11] srinjoy-26 commented on #204
yes it would be better if multiple people do small contributions , so as to get an amazing output

[2022-03-19 12:45] arpit456jain commented on #204
No @KKhushhalR2405 assign them one by one and this should be one single issue for UI
Give them 3 to 4 days otherwise assign issue to next one

[2022-03-19 15:21] SheetalChouhan12 commented on #172
@arpit456jain @KKhushhalR2405 @singhmansi25  I added the course but when run the server it showing list of errors and also "No Module named home"

[2022-03-19 15:58] KKhushhalR2405 commented on #172
Follow [this](https://github.com/arpit456jain/CodingEasy#project-setup)

[2022-03-19 16:20] SheetalChouhan12 commented on #172
Done still showing same error

[2022-03-19 16:27] KKhushhalR2405 commented on #172
Are you using the latest code? Do git pull and try again. And if you still get a error...kindly share the error image please

[2022-03-19 16:41] SheetalChouhan12 commented on #172
![Screenshot (29)](https://user-images.githubusercontent.com/90041130/159130090-10db9877-6b40-4950-9a9a-d762e9def274.png)

yes, I'm using the latest code. This is the error I'm getting.

[2022-03-19 16:42] amanbhardwaj12072003 opened #206 "html template does not exist bug"
### Description

when we click on the html course then it shows the error of "html template does not exist"

### Screenshots

![Screenshot from 2022-03-19 22-09-13](https://user-images.githubusercontent.com/95973608/159130204-6fe78fd9-8a5c-404c-bfdd-576e04b86399.png)

[2022-03-19 16:44] amanbhardwaj12072003 commented on #206
kindly assign this issue to me , i will work on this issue .

[2022-03-19 17:30] KKhushhalR2405 commented on #172
No. You are not using the latest code. We have renamed the folder from `Home` to `home`. That's why you are getting the error.

[2022-03-19 17:40] arpit456jain commented on #206
@KKhushhalR2405 assign him if its a bug

[2022-03-19 17:49] #189 closed

[2022-03-19 17:49] singhmansi25 commented on #189
Nice work @Muhammad-Galhoum

[2022-03-19 17:56] KKhushhalR2405 commented on #206
Hi @amanbhardwaj12072003, The code is working fine on my system. I think you are facing a problem due to different OS

[2022-03-19 17:58] amanbhardwaj12072003 commented on #206
but when i made some changes then it worked just fine in mine too.
but its ok,thanks.

[2022-03-19 18:00] KKhushhalR2405 commented on #206
Thank you @amanbhardwaj12072003. You can look out for other issues to work on. Closing this one

[2022-03-19 18:00] #206 closed

[2022-03-20 00:24] muhammadgalhoum opened #207 "Show the username with a welcome message before his/her name in the navigation bar when logging in and the navigation bar improvement"
### Description

**In this Feature, I will show the username with a welcome message before his/her name in the navigation bar when logging in and improve the navbar to be more attractive**

### Screenshots

_No response_

[2022-03-20 06:44] #194 closed

[2022-03-20 06:45] arpit456jain commented on #204
@srinjoy-26 go ahead

[2022-03-20 07:33] mr-palindrome commented on #202
Just wanted a suggestion!!
![logo](https://user-images.githubusercontent.com/56421861/159152714-ebec124e-819f-4498-be03-f758561d1c94.png)
Does this look good as the favicon? Or should I change?
@arpit456jain @raghavTinker  @KKhushhalR2405  @singhmansi25

[2022-03-20 07:34] Muhammad-Galhoum commented on #207
**Please assign this issue to me @arpit456jain**

[2022-03-20 07:35] Muhammad-Galhoum commented on #203
### Please assign this issue to me @arpit456jain

[2022-03-20 07:37] mr-palindrome commented on #197
I would like to work on this issue. But I will require a little bit of mentorship!

[2022-03-20 08:16] singhmansi25 commented on #202
@mr-palindrome
If you can choose a favicon that is more related to our website, it would be much nicer.
If any doubts, you can ask @arpit456jain

[2022-03-20 09:37] mr-palindrome commented on #202
I have created two more logos for favicons that are related to the website. I will be glad to get suggestions!
![Untitled design(6)](https://user-images.githubusercontent.com/56421861/159156513-d56ee5ec-eba6-4c03-9638-19039085857f.png)
![Untitled design(5)](https://user-images.githubusercontent.com/56421861/159156516-65f2090e-966f-4d42-b557-44620c9022a5.png)

[2022-03-20 17:21] KKhushhalR2405 commented on #202
@mr-palindrome The second one looks cool. You can proceed.

[2022-03-20 17:22] KKhushhalR2405 commented on #207
Assigning you @Muhammad-Galhoum

[2022-03-20 18:31] mr-palindrome commented on #203
Can I work on this issue? As no one is assigned to it and also I made the user authentication system.
@arpit456jain

[2022-03-20 18:46] arpit456jain commented on #203
@mr-palindrome for now i am assigning @Muhammad-Galhoum if he is unable to make PR in 2 to 3 days then can start work on it

[2022-03-20 19:02] Muhammad-Galhoum commented on #203
**Thanks, @arpit456jain**

[2022-03-24 04:09] #172 closed

[2022-03-24 11:50] #203 closed

[2022-03-25 14:48] singhmansi25 commented on #173
@Suvodeep-Das
Have your exams ended?
Are you free now?
Please tell the status of your work.

[2022-03-25 14:50] singhmansi25 commented on #94
@Vaishnavi1411
please update about your status of work.
Or else we will assign people waiting in queue to complete this issue.

[2022-03-25 14:51] Suvodeep-Das commented on #173
Yes it ended today. Will start the work as soon as possible.

[2022-03-25 14:53] singhmansi25 commented on #173
Nice to hear @Suvodeep-Das

[2022-03-25 17:48] #207 closed

[2022-03-26 04:17] arpit456jain opened #215 "I am getting an "Application labels aren't unique" error while running the app"
### Description

![image](https://user-images.githubusercontent.com/55352601/160224383-b5373010-64e4-4c96-a6b9-2587b685bf1e.png)

### Screenshots

_No response_

[2022-03-26 04:19] arpit456jain commented on #94
@HarshKumarChoudary r u interested ?

[2022-03-26 04:36] HarshKumarChoudary commented on #94
yes I could work on it.

[2022-03-26 04:49] Vaishnavi1411 commented on #94
@arpit456jain I am working on it and I have shown the output to @singhmansi25  on discord!

[2022-03-26 04:55] singhmansi25 commented on #94
@arpit456jain
Please let @Vaishnavi1411 to complete this by this week.
If she couldn't then may be we can assign to others.
**@Vaishnavi1411
Please share your status of work here.**

[2022-03-26 05:00] Vaishnavi1411 commented on #94
ok @singhmansi25

[2022-03-26 05:01] Vaishnavi1411 commented on #94
![ss](https://user-images.githubusercontent.com/71778469/160225449-7a986857-602e-402c-92d0-664d9a9712a8.png)

[2022-03-26 05:02] Vaishnavi1411 commented on #94
![editor](https://user-images.githubusercontent.com/71778469/160225480-32f78aa2-79d5-45c0-89e7-45c8bcbc9668.png)

[2022-03-26 07:17] arpit456jain commented on #94
Ok @Vaishnavi1411 make PR asap..

@HarshKumarChoudary wait for 1-2 days
After that you can work on this issue or improve the work done by her

[2022-03-26 08:50] Vaishnavi1411 commented on #94
Ok @arpit456jain

[2022-03-26 08:55] KKhushhalR2405 commented on #215
Fixed. Please pull the latest code

[2022-03-26 08:55] #215 closed

[2022-03-27 13:48] meghagangadhar13 commented on #171
Can I work on this issue under GSSOC 22

[2022-03-27 14:29] arpit456jain commented on #171
@meghagangadhar13 if he didn't respond in w days it will be assigned to you

[2022-03-27 14:30] arpit456jain commented on #139
@ephemeralshay any updates ?

[2022-03-27 14:30] arpit456jain commented on #204
@srinjoy-26 any updates ??

[2022-03-27 14:31] arpit456jain commented on #170
@saketsagarsingh read this properly

[2022-03-27 14:31] srinjoy-26 commented on #204
Sir I will make a pr day after tomorrow

On Sun, 27 Mar 2022, 20:00 Arpit Jain, ***@***.***> wrote:

[2022-03-27 15:05] ephemeralshay commented on #139
Yes, working on it. I will create a PR in a day or two.

[2022-03-27 15:05] ephemeralshay commented on #139
Yes, working on it. I will create a PR in a day or two.

[2022-03-27 15:05] ephemeralshay commented on #139
Yes, working on it. I will create a PR in a day or two.

[2022-03-27 16:15] aayushray commented on #171
Will resolve this issue by this weekend.

[2022-03-28 08:42] Vaishnavi1411 commented on #94
Please review my PR.

[2022-03-28 14:57] singhmansi25 commented on #94
@Vaishnavi1411
Reviewed.
@arpit456jain
Please check the PR once.

[2022-03-29 04:34] srinjoy-26 commented on #204
Sir assign someone else , I am unable to figure out the files in the project , its getting very complex.

[2022-03-29 05:07] arpit456jain commented on #204
@Manik-Aggarwal r u interested

[2022-03-29 05:15] Manik-Aggarwal commented on #204
Yes

[2022-03-29 16:16] Jayanth-MKV opened #219 "Adding Storage Classes in CPP"
### Description

Adding storage classes page to the CPP course

### Screenshots

_No response_

[2022-03-29 16:25] Jayanth-MKV opened #220 "Adding Operators to CPP course"
### Description

Adding information about different operators in cpp

### Screenshots

_No response_

[2022-03-30 08:32] KKhushhalR2405 commented on #219
Hi @Jayanth-MKV, Please complete #220 and this in the same PR. Assigning you

[2022-03-30 08:33] KKhushhalR2405 commented on #220
Please complete this along with #219 in the same PR.

[2022-03-30 08:33] #220 closed

[2022-03-30 18:00] Jayanth-MKV opened #223 "Adding Loops Topic in CPP Module"
### Description

Loops topic is to be added in the CPP Module

[2022-03-30 18:01] Jayanth-MKV commented on #223
/assign @arpit456jain @KKhushhalR2405

[2022-03-31 05:43] singhmansi25 commented on #223
@Jayanth-MKV
Please start working on the issue.

[2022-03-31 05:47] singhmansi25 commented on #197
@mr-palindrome
Please update the progress of your work.

[2022-03-31 05:48] singhmansi25 commented on #197
@mr-palindrome
**Do you want to work on this issue?
What mentorship you need??**

[2022-03-31 16:38] Jayanth-MKV commented on #223
review @singhmansi25

[2022-04-01 06:18] #171 closed

[2022-04-01 12:00] Asttttha opened #228 "Personality Quiz"
Personality Quiz using python 3, where time module is used.

https://github.com/Asttttha/Personality-Quiz-using-python-3/blob/main/personality.py

link of my project.

[2022-04-01 12:25] Anjuli08 commented on #204
I would like to work on this issue under GSSOC'22

[2022-04-01 15:56] singhmansi25 commented on #228
Hey @Asttttha
The quiz is mind-blowing.
But it would have been more attractive if you have tried making a GUI based GUIZ.
@arpit456jain
Can you check if this fun-quiz can be the part of CodingEasy Project.

[2022-04-01 17:32] arpit456jain commented on #228
@Asttttha sorry but its not related to this project

[2022-04-01 17:32] #228 closed

[2022-04-01 17:34] #219 closed, assigned to Jayanth-MKV

[2022-04-02 04:37] Jayanth-MKV opened #229 "Integrating One Hot Encoding, K-Fold Cross Validation and Grid Search modules to ML course"
### Description

Integrating One Hot Encoding, K-Fold Cross Validation and Grid Search modules to ML course
1. As the the html files are present but not connected to the machine learning course page I would like to connect them.
2.  Images of these files must be added to static folder.
3.  Images need to be connected with the files.
4.  Some UI changes have to be made such as extra list tags in th

[2022-04-03 04:16] Jayanth-MKV commented on #229
/assign @arpit456jain @KKhushhalR2405 @singhmansi25 @raghavTinker

[2022-04-03 06:02] singhmansi25 commented on #229
@Jayanth-MKV
**Please start working on the issue.**

[2022-04-03 06:04] singhmansi25 commented on #204
@Manik-Aggarwal
Please update the status of your work

[2022-04-03 06:05] singhmansi25 commented on #204
@Anjuli08
**What change you will be working on?
Please specify, so that we can assign you.**

[2022-04-03 06:44] mr-palindrome commented on #197
Yes, I want to work on this but don't know how to set up a Github bot or make changes to it.

[2022-04-03 07:21] singhmansi25 commented on #197
@arpit456jain
Please see this once

[2022-04-03 08:57] #139 closed

[2022-04-03 09:25] arpit456jain commented on #197
@mr-palindrome u can learn about Github actions from [here ](https://github.community/t/how-to-use-the-github-actions-bot/16535) or from ay other resource

currently  this issue is not required if have any other suggestions in bot setting let us know

[2022-04-03 09:25] #197 closed

[2022-04-03 11:42] Jayanth-MKV commented on #229
Please add the level label

[2022-04-03 12:25] Anjuli08 commented on #204
I can work on the navbar and CSS of the home page if no changes are done on it yet

[2022-04-03 12:27] arpit456jain commented on #204
@Anjuli08 go ahead

[2022-04-04 09:07] Jayanth-MKV opened #232 "Adding Git course"
### Description

Although the git_github files are available they are not connected with the website

### Screenshots

_No response_

[2022-04-04 09:08] Jayanth-MKV commented on #232
label and assign @arpit456jain @singhmansi25 @KKhushhalR2405 @raghavTinker

[2022-04-04 11:39] arpit456jain commented on #94
@Vaishnavi1411  make PR asap

[2022-04-04 11:56] arpit456jain commented on #94
@singhmansi25 contact to her if she is unable to make PR and doesn't respond in 2 days assign this issue to @HarshKumarChoudary

[2022-04-04 12:51] arpit456jain opened #233 "integrate a youtube section in pages"
### Description

take reference from here
https://codewithharry.com/videos/tailwind-course-in-hindi-1/

idea is let say user go to HTML->basic tags so on that page there will be some documentation / a video section and a editor for testing the code

### Screenshots

_No response_

[2022-04-04 13:03] #170 closed

[2022-04-04 13:04] arpit456jain commented on #232
@Jayanth-MKV do this asap

[2022-04-04 13:08] arpit456jain opened #234 "A separate page for listing our templates and downloading them"
### Description

I have 3 repos
[Cool Front-End Templates](https://github.com/arpit456jain/Cool-Front-End_Templates)
[Amazing Css effects](https://github.com/arpit456jain/Amazing-Css-Effects)
[Amazing Js Projects](https://github.com/arpit456jain/Amazing-Js-Projects)

i want to fetch all the projects and list them here with a feature of downloading it
It should download the source code if template

[2022-04-04 16:06] #223 closed

[2022-04-04 16:31] #229 closed

[2022-04-04 17:23] Jayanth-MKV commented on #233
/assign @arpit456jain

[2022-04-04 17:47] arpit456jain commented on #233
@Jayanth-MKV before start working discuss it with mentors

[2022-04-04 17:58] arpit456jain opened #236 "change in mentor section"
### Description

change the mentors in
mentors section of read me and add mentors under gssoc

### Screenshots

_No response_

[2022-04-04 18:00] arpit456jain commented on #236
mentors are
@singhmansi25
@raghavTinker
@KKhushhalR2405

[2022-04-04 18:53] Vaishnavi1411 commented on #94
Review my PR @arpit456jain

[2022-04-04 19:11] gurjeetsinghvirdee commented on #236
assign me

[2022-04-04 19:15] gurjeetsinghvirdee commented on #234
Assign me

[2022-04-04 19:24] muhammadgalhoum commented on #236
**Can you please assign this issue to me @arpit456jain**

[2022-04-04 20:25] KKhushhalR2405 commented on #236
Assigning you @gurjeetsinghvirdee

[2022-04-05 03:28] Jayanth-MKV commented on #233
Can you tell me how to proceed with this @arpit456jain @singhmansi25 @KKhushhalR2405 @raghavTinker
like,
1. What are the things to be added
2. How should it look like.
3. It would be better if some template is available for getting an idea on the UI
4. and Should this be done for each and every course ?

[2022-04-05 05:16] singhmansi25 commented on #233
@Jayanth-MKV
Contributors can embed a youtube video in the corresponding course.
Take example as in GeeksforGeeks, you can watch videos.

[2022-04-05 06:28] Jayanth-MKV commented on #233
@singhmansi25 okay

[2022-04-05 09:22] SheetalChouhan12 commented on #172
Hey, @KKhushhalR2405 @arpit456jain  the issue itself has Label level 3 but in PR you mention label level 2, so my score in Leaderboard is 25 it should be 45. Please correct it to level 3 in PR. Thank you.

[2022-04-05 10:28] #236 closed

[2022-04-05 10:29] #232 closed

[2022-04-05 12:18] Jayanth-MKV commented on #233
Is this okay. If you confirm i will make a PR   @arpit456jain @singhmansi25 @KKhushhalR2405 @raghavTinker
![Screenshot (411)](https://user-images.githubusercontent.com/93820457/161751866-736a6005-23c4-499c-96ba-32bc2277f48d.png)

[2022-04-07 13:22] arpit456jain commented on #233
@Jayanth-MKV yeah looking good
 we can change the video  link dynamically right ?

[2022-04-07 13:25] arpit456jain commented on #233
anyways make PR so that we can review

[2022-04-07 15:20] gurjeetsinghvirdee commented on #234
little bit busy on my exams, aur ye itni jaldi bnne wala issue ni h I need time or ek bar me PR bhi bnegi 2-3 baar me hoga

[2022-04-07 17:14] arpit456jain commented on #234
i need some thing like this
https://bootstrapmade.com/

[2022-04-07 17:22] gurjeetsinghvirdee commented on #234
Ok I try to make same but in javascript

[2022-04-09 17:30] #233 closed

[2022-04-10 05:18] #94 closed

[2022-04-10 05:20] arpit456jain opened #241 "improvement in blog"
### Description

i want a blog system like this
https://geeksgod.com/category/internships/
in which i can post things related to various topics and generate urls and it should redirect to them

### Screenshots

_No response_

[2022-04-10 16:19] muhammadgalhoum commented on #241
**I will build the blog section from Scratch because each time when I try to pull the changes from the master branch  I get the following error and I can not solve it**

![error](https://user-images.githubusercontent.com/56798376/162629052-23953c22-3f0f-45a0-99f6-e55462e7441f.png)

### If you agree you can assign me @arpit456jain

[2022-04-10 17:04] arpit456jain commented on #241
@muhammadgalhoum u have to run migrate command

run
py.exe manage.py makemigrations home
py.exe manage.py makemigrations  blog

[2022-04-10 17:32] muhammadgalhoum commented on #241
### After running the last two commands and trying to access the admin panel I got the following error
![second error](https://user-images.githubusercontent.com/56798376/162631855-365ffc8a-70cb-4766-8170-222ada2709db.PNG)

[2022-04-11 00:20] muhammadgalhoum commented on #241
**You can assign this issue to me @ @arpit456jain**
**I will enhance the blog appearance and add post image features to the post (The user can add an image to the post or not)**
### But make sure it will take some days for me

[2022-04-11 14:58] muhammadgalhoum commented on #241
Assign this issue to me please  @arpit456jain

[2022-04-16 15:25] ishashukla183 commented on #204
I would like to work on this issue

[2022-04-17 04:20] singhmansi25 commented on #204
@ishashukla183
**Please specify what changes you would add?**

[2022-04-24 04:57] #204 closed

[2022-04-24 05:11] arpit456jain commented on #241
@muhammadgalhoum i need this kind of blog feature
https://geeksgod.com/category/internships/

[2022-04-24 05:11] arpit456jain commented on #234
@gurjeetsinghvirdee

[2022-04-24 05:12] arpit456jain opened #243 "Fully responsive cool looking navbar for the website"
### Description

no need to build it from scratch use bootstrap or u can take a navbar from any bootstrap template

### Screenshots

_No response_

[2022-04-24 05:13] arpit456jain opened #244 "Add video tutorials"
### Description

u have to make video tutorials for the courses

watch this to understand the work flow : https://www.youtube.com/watch?v=SbRJZpReeh8&feature=youtu.be

tag me in discord server and let me know in which course u r interested

[2022-04-24 05:15] gurjeetsinghvirdee commented on #234
Removing myself due to met an accident somedays before, now I can't sit or sleep like a normal person

[2022-04-24 05:59] muhammadgalhoum commented on #244
**Do you want to make a video for Coding Easy website to appear its features?
Please assign it to me @arpit456jain**

[2022-04-24 08:47] arpit456jain commented on #244
@muhammadgalhoum first watch the video mentioned in description

[2022-04-24 11:43] yash-25log commented on #243
hey if you just need a bootstrap navbar i am up for it

[2022-04-24 11:45] yash-25log commented on #243
just tell me u need a side bar or menu bar which should be on top
or if you need dropdown or not

[2022-04-24 11:48] yash-25log commented on #243
assign me in

[2022-04-24 11:48] yash-25log commented on #243
/assign

[2022-04-24 11:53] arpit456jain commented on #243
I need a navbar which looks good
Just like the current navbar but UI should be great
Current navbar is very dull

[2022-04-24 11:55] yash-25log commented on #243
ok bhaiya i will work on this and make a pr soon

[2022-04-24 12:08] yash-25log commented on #243
@arpit456jain bhaiya where is home page html file

[2022-04-24 12:30] yash-25log commented on #243
bhaiya pls share the link of the file where current navbar is
i need to replace it with another one
and i can't find that file

[2022-04-24 13:19] arpit456jain commented on #243
base.html : https://github.com/arpit456jain/CodingEasy/blob/master/templates/home/base.html
navbar.html : https://github.com/arpit456jain/CodingEasy/blob/master/templates/includes/navbar.html

[2022-04-25 12:31] Jayanth-MKV commented on #234
@arpit456jain can u assign this to me

[2022-04-25 12:32] Jayanth-MKV commented on #234
I would like to get much clarity on how the code has to be downloaded

[2022-04-26 23:09] muhammadgalhoum commented on #244
Do you want me to choose the best video explaining each part of a particular course, or should I make a video for me while I explain a specific part? @arpit456jain

[2022-04-27 02:59] arpit456jain commented on #244
U have to make a video tutorials
Check out videos present in Excel sheet

[2022-04-27 19:17] arpit456jain opened #250 "Make a our team page it should fetch details from json file or from database (it should be dynamically)"
### Description

it will contain  some sections like
1. Owner/founder
2. Mentors
3. Videos creators
4. content writers
5. Web developers
6. top contributors

### Screenshots

_No response_

[2022-04-27 19:22] arpit456jain commented on #241
@muhammadgalhoum u can call me through discord or we can have  a meet on sunday i want this issue to be done as soon as possible

[2022-04-27 20:08] muhammadgalhoum commented on #241
I already working daily  on improving the blog and I will deliver asap
I had had an internet connection problem and I solved it
@arpit456jain

[2022-04-28 04:13] myhacktech commented on #250
sir i can do this ,if it involves fetching of data from mysql

[2022-04-28 06:36] arpit456jain commented on #250
@myhacktech currently we will go with default database.
If you are interested let me know but i suggest you to focus on video tutorials because we want videos as much as possible ie a full playlist

[2022-04-29 15:55] BabyElias opened #253 "Adding a Side Navigation Bar"
### Description

Adding a side navbar for easier navigation of topics within a particular course. This would ensure smoother accessibility for the user as he/she can hover through the topics without having to move to the previous page.

### Screenshots

_No response_

[2022-04-30 11:24] nikhil25803 commented on #250
I can make an about us page that fetch data from a JSON file.
Can you please assign it to me?

[2022-04-30 17:44] arpit456jain commented on #253
go ahead @BabyElias

[2022-04-30 17:46] arpit456jain commented on #250
go ahead @nikhil25803

[2022-04-30 17:46] arpit456jain commented on #243
@yash-25log

[2022-04-30 17:47] arpit456jain commented on #241
ok @muhammadgalhoum just start making PRS so that we can review it

[2022-04-30 17:48] arpit456jain commented on #234
@Jayanth-MKV  check this website
https://bootstrapmade.com/

[2022-04-30 18:00] yash-25log commented on #243
@arpit456jain currently there is no progress as i am at chandigarh university hack
i was busy with the project build at hackathon so will do it by wednesday/thursday

[2022-05-01 13:58] arpit456jain opened #263 "UI improvement"
### Description

improvement in UI of home page  and courses

### Screenshots

_No response_

[2022-05-01 15:42] muhammadgalhoum commented on #263
please assign it to me and I will make More than one PR for this issue because of the number of courses @arpit456jain

[2022-05-03 05:30] arpit456jain opened #267 "small changes in blog"
### Description

changes required
1. edit blog page should be only admin for now
![image](https://user-images.githubusercontent.com/55352601/166427338-53cbe70a-5529-4c9f-acdf-d26ac4253527.png)

2 improve search functionality :
-- add a button
-- show the search result like on the blog page

### Screenshots

_No response_

[2022-05-03 05:30] arpit456jain commented on #267
@muhammadgalhoum  do this in one PR

and make one more PR for adding feature to comment on post by normal users

[2022-05-03 05:38] muhammadgalhoum commented on #267
Search functionality is working successfully, you can search by title or content of any post

[2022-05-03 05:40] muhammadgalhoum commented on #267
Do you want the admin only the person who can edit blog features using the Django admin panel? @arpit456jain

[2022-05-03 05:40] arpit456jain commented on #267
if that things is not present then it should show **nothing to show**

[2022-05-03 05:41] arpit456jain commented on #267
my plan is to provide a role of staff only staff members should be able to edit blog

[2022-05-03 05:42] arpit456jain commented on #267
but since there is not staff role right now if u can add that role well and good otherwise make it for admins only
i mean if there are 2 or more admins
they can edit all posts

[2022-05-03 05:51] muhammadgalhoum commented on #267
In this case, the following result will appear and there are no any links will appear on that page.

Do you want to change that message?

Do you want to change that message?![Capture](https://user-images.githubusercontent.com/56798376/166409449-bad63ccd-4e47-48dc-b414-63f22c9cac1f.PNG)

[2022-05-03 05:54] muhammadgalhoum commented on #267
The admin can edit any post from the Django admin pannel
 @arpit456jain

[2022-05-03 06:04] muhammadgalhoum commented on #267
In this case, the following result will appear and there are no any links will appear on that page.
Do you want to change that message? @arpit456jain

Do you want to change that message?![Capture](https://user-images.githubusercontent.com/56798376/166409449-bad63ccd-4e47-48dc-b414-63f22c9cac1f.PNG)

[2022-05-03 06:28] arpit456jain commented on #267
ok got it @muhammadgalhoum

can u do one thing on result page show the post
instead of
<img width="594" alt="image" src="https://user-images.githubusercontent.com/55352601/166412433-59a84891-c051-46e9-b785-7e3961ae48e1.png">

show this
<img width="553" alt="image" src="https://user-images.githubusercontent.com/55352601/166412458-b1d7ceed-f53a-435f-a06e-4217aa5198cb.png">

[2022-05-03 06:30] arpit456jain commented on #267
and a button also for search like this
https://codesmashersblog.herokuapp.com/myblog/

[2022-05-03 06:32] arpit456jain commented on #267
yes i know that but currently any user is able to edit update or delete  the post with logged in

 please check

[2022-05-03 06:49] muhammadgalhoum commented on #267
I will try

[2022-05-03 06:49] muhammadgalhoum commented on #267
I will try

[2022-05-03 06:52] muhammadgalhoum commented on #267
No, Only the post or Category owner can  edit or delete his/her own posts or category

[2022-05-03 06:59] muhammadgalhoum commented on #267
In this issue, I will improve the search result and the search form and please put level 2  or level 3 on it
And the issue for determining the roles of admin and users will be in a separate PR and put level 3 on it
Are you agree @arpit456jain?

[2022-05-03 07:00] arpit456jain commented on #267
when i tried i was not logged in and it allows me to to it

[2022-05-03 07:01] arpit456jain commented on #267
ok

[2022-05-03 07:04] muhammadgalhoum commented on #267
Impossible, Make a short video to show me

[2022-05-03 07:05] muhammadgalhoum commented on #267
Please, edit the description of this issue

[2022-05-03 07:12] muhammadgalhoum commented on #267
And assign this issue to me after updating the issue description @arpit456jain

[2022-05-03 08:38] Jayanth-MKV commented on #263
Assign me @arpit456jain

[2022-05-03 08:52] arpit456jain commented on #267
this page should not open by any normal user
![image](https://user-images.githubusercontent.com/55352601/166427226-bcfa1866-42b9-473c-aec4-9aafd2ac078e.png)

[2022-05-03 09:07] arpit456jain commented on #267
@muhammadgalhoum  i had updates the PR description
if its not clear yet let me know we will discuss it on meet
otherwise if its clear
do this changes after the PR gets merged which is opened now of another user

[2022-05-03 10:13] #234 closed

[2022-05-03 10:14] arpit456jain commented on #263
@muhammadgalhoum @Jayanth-MKV
first let do the backend work which is more important now after that u both can work on this

[2022-05-03 10:16] arpit456jain opened #269 "templates of css and js not showing"
### Description

1.templates of css and js not showing
2.all templates of cool front are also not showing

### Screenshots

_No response_

[2022-05-03 10:17] arpit456jain commented on #269
@Jayanth-MKV

[2022-05-03 10:19] arpit456jain commented on #250
@myhacktech i am proving u the data
kindly make a PR for that

[2022-05-03 10:19] arpit456jain commented on #253
@BabyElias

[2022-05-03 10:22] arpit456jain commented on #250
mentors : @raghavTinker @KKhushhalR2405
video creators : @Ultimateutkarsh11 -> git github ,  @Shreya-spec : ML , @myhacktech  : CSS ,

[2022-05-03 10:36] nikhil25803 commented on #250
On it :)

[2022-05-03 11:05] Jayanth-MKV commented on #269
Yes assign it to me @arpit456jain

[2022-05-03 11:06] Jayanth-MKV commented on #263
okay @arpit456jain

[2022-05-03 11:21] BabyElias commented on #253
Yup, I am working on it but am unable to see practically the changes that I have implemented because of not setting up the framework properly. I am trying to figure a way out. Give me 2-3 days, please.

[2022-05-03 13:13] arpit456jain commented on #269
@Jayanth-MKV do this asap

[2022-05-03 13:14] arpit456jain opened #271 "add routes for C course"
### Description

templates for C course are there
add routing for it

### Screenshots

_No response_

[2022-05-03 13:25] arpit456jain commented on #269
@Jayanth-MKV i just noticed that u have hard coded the templates
instead of that either use a json file or directly fetch it from the respective repo

[2022-05-03 13:26] arpit456jain commented on #269
u have to use this somehow otherwise its very difficult for handling for us
https://github.com/arpit456jain/Cool-Front-End-Templates/blob/master/style_links.json
or
https://raw.githubusercontent.com/arpit456jain/Cool-Front-End-Templates/master/style_links.json

[2022-05-03 13:27] arpit456jain commented on #269
if its not possible to use directly just download this json file and use it

[2022-05-03 13:45] soumali28 commented on #271
I would Like to work on this issue under Gssoc.

[2022-05-03 14:47] muhammadgalhoum commented on #267
As I mentioned earlier, and you agreed to that, I will do 2 PR. The first PR will be to solve the second problem in the description of this issue, which is to modify the search form, as well as the result of the search and the other PR will be in which the role will be determined for both the normal user and the admin, and you will put level 3 on each
Is that true and do you agree with it? @arpit4

[2022-05-03 15:04] arpit456jain commented on #267
in 2. u just have to write one line
if user is admin
show that button for going to edit page
else
don't show

in 1.
u have to add a button

the main things is to display the search result as the blog page which should be of lvl2 but i am giving lvl3 on this PR and will give suitable labels on next Prs of urs

[2022-05-03 15:22] muhammadgalhoum commented on #267
Why do you hesitate in your words? Didn't you earlier agree that I would do 2 PR?

The solution to this part of this issue will not be one line?
If you know a way to solve this issue in one line, please put it here in a comment and I will make one PR otherwise I will make 2 PR because I work hard and diligently, and no one changes my code after writing it, as I do in other people's codes

[2022-05-03 15:28] Susmita-Dey opened #272 "Images not loading properly"
### Description

I just visited the website and saw that some images are not getting loaded in the website and this needs to be fixed.

**I'm a GSSoC'22 contributor. Kindly assign this issue to me.**

### Screenshots

![image](https://user-images.githubusercontent.com/79099734/166484494-5305a968-6a9f-4c3a-81b3-d7c25b10d46b.png)

[2022-05-03 15:39] arpit456jain commented on #271
@soumali28  do this and make PR before tomorrow morning

[2022-05-03 15:40] arpit456jain commented on #267
Ok make 2 PRs lvl 2 on both

[2022-05-03 15:44] muhammadgalhoum commented on #267
Ok

[2022-05-03 15:52] muhammadgalhoum commented on #241
You forgot to close this issue @arpit456jain

[2022-05-03 16:17] soumali28 commented on #271
Hey  @arpit456jain  it wont be possible to do it by tonight cuz m actually out now so if its urgent you can assign someone else.

[2022-05-03 16:38] muhammadgalhoum commented on #271
You can assign it to me if she can't @arpit456jain

[2022-05-03 17:53] Jayanth-MKV commented on #269
okay sure i would in that way only

[2022-05-04 07:21] muhammadgalhoum commented on #271
Plz, assign this issue to me  @arpit456jain

[2022-05-04 17:51] #269 closed

[2022-05-04 17:56] Atif0604 commented on #271
Please Assign Me @arpit456jain under GSSOC'22

[2022-05-04 18:49] muhammadgalhoum commented on #271
I asked @arpit456jain to assign this issue to me before you @Atif0604
Please assign this issue to me and I will solve it asap

[2022-05-05 02:14] Jayanth-MKV commented on #263
# assign @arpit456jain

[2022-05-05 08:21] muhammadgalhoum commented on #271
Plz, assign this issue to me and I will solve it asap @arpit456jain

[2022-05-05 08:27] muhammadgalhoum commented on #263
You can assign both of us and I will work on improving the home page @arpit456jain

[2022-05-05 08:39] arpit456jain commented on #271
ok @muhammadgalhoum

[2022-05-05 09:03] #250 closed

[2022-05-05 11:49] singhmansi25 commented on #271
@muhammadgalhoum and @Atif0604
Please don't argue for getting assigned, we will assign contributors on the basis of First come first serve. If any assigned contributor fails to complete, we will assign the other person.

[2022-05-05 12:09] muhammadgalhoum opened #284 "Fixed some routes in Course"
### Description

there are exist some wrong routes for some topics in the C ++ course

### Screenshots

_No response_

[2022-05-05 12:09] muhammadgalhoum commented on #284
Please assign this issue to me @arpit456jain

[2022-05-05 12:13] muhammadgalhoum commented on #271
I think so too, but I assure you that I came first @singhmansi25

[2022-05-05 13:42] arpit456jain commented on #284
do this in ur opened PR

[2022-05-05 13:42] #284 closed

[2022-05-05 13:44] arpit456jain commented on #272
@Susmita-Dey do it asap

[2022-05-05 14:03] Susmita-Dey commented on #272
Okay

[2022-05-06 09:19] #271 closed

[2022-05-06 09:33] arpit456jain commented on #267
@muhammadgalhoum  now make a PR for role it will be of lvl3 but make sure of these things

1. update ur repo
2. branch shoule be updated
3. admin can edit,delete any post or add it
4. people having role of staff can make post , edit or delete from website

[2022-05-06 15:08] Kunal0220 opened #287 "Navbar content is not displaying properly"
### Description

The navbar content is piling over one another which is hampering the UI . I would like to fix it and make some further enhancements to improve the UI of the website in terms of navbar .

### Screenshots

<img width="1428" alt="Screenshot 2022-05-06 at 8 17 22 PM" src="https://user-images.githubusercontent.com/71934168/167160655-77fef0c4-19ac-431a-ba6c-7b89fe0e7555.png">

[2022-05-06 17:25] Susmita-Dey commented on #272
I'll create the PR tomorrow morning. It's almost done.

[2022-05-06 17:33] Kunal0220 commented on #287
Please add GSSoC tag and level to it.

[2022-05-07 07:01] sonalee21 commented on #287
Hello Sir,
I would like to work on this issue, please assign it to me.

[2022-05-07 08:08] KKhushhalR2405 commented on #287
Hi @Kunal0220 @sonalee21, Thank you for raising the issue. But the navbar looks good to me.

![image](https://user-images.githubusercontent.com/58569950/167245026-2940d57e-ee04-44e6-9412-e46084380025.png)

 I believe it is a problem with the hosting service. I will look into it and if any changes are required, I would assign them to you. Thanks

[2022-05-07 08:18] Susmita-Dey commented on #272
@arpit456jain I created the environment locally on my computer and it's working perfectly but I think there's some issue with the Heroku app for loading the images. Because the code is working correctly in **localhost**.

## Localhost preview
![image](https://user-images.githubusercontent.com/79099734/167245664-7bcba793-5dbf-407e-b643-5c39d6294f6d.png)

## Heroku website preview
![image](https://u

[2022-05-07 13:04] nikhil25803 opened #291 "Integrating IDE in the website"
### Description

I want to imbed an online IDE in the website for the language Python. So that we can show code in proper format users can have a better user experience and they can have hands-on experience too.

### Sample View

[![image](https://www.linkpicture.com/q/preview_3.png)](https://www.linkpicture.com/view.php?img=LPic62766d22931e6460503937)

### Screenshots

_No response_

[2022-05-07 17:15] arpit456jain commented on #291
go ahead @nikhil25803
make a template for it and inherit in all pages

[2022-05-07 17:16] arpit456jain commented on #287
@Kunal0220 go ahead

[2022-05-07 17:19] #272 closed

[2022-05-07 17:35] Kunal0220 commented on #287
Aye aye captain!

[2022-05-07 17:50] muhammadgalhoum commented on #263
Are you will assign this issue to me also? @arpit456jain

[2022-05-08 05:09] #241 closed

[2022-05-08 05:10] #267 closed

[2022-05-08 05:10] arpit456jain commented on #243
@yash-25log update please?

[2022-05-08 05:13] arpit456jain opened #294 "add a role of staff"
### Description

There are 3 types of people
1. Admins : have all the access
2. Staff (for now technical writer): can change,edit post , update it from website only , admin panel should not be accessible
3. normal users : only read the post

### Screenshots

_No response_

[2022-05-08 05:13] arpit456jain commented on #294
@muhammadgalhoum u just have to add a role staff

[2022-05-08 05:36] arpit456jain commented on #287
@Kunal0220 i just notice that the navbar is correct in local system but its not in hosted version because some css is not rendering properly so if u have any idea about it go on it

[2022-05-08 05:40] arpit456jain opened #295 "wrong url in our team"
### Description

some links are wrong

in facebook icon link of GitHub is opening

### Screenshots

_No response_

[2022-05-08 05:41] arpit456jain commented on #295
@nikhil25803 correct it

[2022-05-08 06:21] nikhil25803 commented on #295
I have replaced the Facebook icon with GitHub! Now it's fine.
As everyone does not have a Facebook account, I have added LinkedIn, GitHub, and Twitter only. Do I need to add the Facebook links too or make a PR as it is now only?

[2022-05-08 07:25] muhammadgalhoum commented on #294
OK, I will try to solve it

[2022-05-08 07:42] #295 closed

[2022-05-08 17:06] Kunal0220 commented on #287
Ok @arpit456jain , let me exercise with the code for sometime and then I'll revert back .

[2022-05-08 18:07] arpit456jain opened #297 "integrate payment gateway"
### Description

make  a simple payment gateway which we can integrate in website

### Screenshots

_No response_

[2022-05-08 18:09] arpit456jain opened #298 "rating system for templates"
### Description

Make a rating system for the templates user can give starts to a template

### Screenshots

_No response_

[2022-05-08 18:09] arpit456jain opened #299 "add to favorite"
### Description

Add a feature to add a template in favorite/wishlist of user

### Screenshots

_No response_

[2022-05-09 03:50] muhammadgalhoum commented on #299
please, assign it to me

[2022-05-09 04:06] arpit456jain commented on #294
@muhammadgalhoum do this asap and then u can work on comments and reply for blog

[2022-05-09 04:09] arpit456jain opened #301 "Add video Solutions for Leetcode"
### Description

Make videos for Leetcode
1. Explain the problem statement
2. write the brute force approach
3. write efficient approach
4. upload this video on google drive
5. save both the codes in a text file and in last add the link of video
6. Make PR

### Screenshots

_No response_

[2022-05-09 04:22] muhammadgalhoum commented on #294
I've been working on this problem since yesterday and will make a PR for it  asap @arpit456jain

[2022-05-09 14:00] arpit456jain opened #306 "Add remaining documentation of python course"
### Description

Add 4 topics one PR lvl2 or 3 depends on content and time

### Screenshots

_No response_

[2022-05-09 15:35] muhammadgalhoum commented on #306
Please, assign it to me and I will make a PR asap and give me level 3, are you agree?

[2022-05-09 19:26] arpit456jain commented on #306
Ok but maintain the quality of content
Do not copy paste from anywhere
If possible improve the current documentation

[2022-05-10 05:04] muhammadgalhoum commented on #306
Ok, I will not make copy and paste from anywhere @arpit456jain
Please, assign it to me to start working on it

[2022-05-10 06:41] Sabyasachi-Seal commented on #301
I can do this one. Please assign.

[2022-05-10 06:45] Sabyasachi-Seal opened #308 "Want to add more resources for Git"
### Description

The Information given for git is very less and just covers the basics.

I want to add more stuff and make it a full course so that no one is stuck while using the commands or while getting started with git.

### Screenshots

_No response_

[2022-05-10 13:58] arpit456jain commented on #308
sure @Sabyasachi-Seal first add documentation for these topics and explain it well
git init
git status
git add
git commit
git log
git switch
git branch
git diff
git reset
git show
git merge
git remote
git checkout
git push
git pull
git stash

we are also making video tutorials so try to  co-relate with it
https://www.youtube.com/watch?v=WD5Un8e3EXQ&list=PLq48nQVMAPYF9r0XptDZRvv52cHO6N-h5

[2022-05-10 14:01] arpit456jain opened #310 "Improve the documentation of C++ course"
### Description

![image](https://user-images.githubusercontent.com/55352601/167646877-9be6d5bd-c988-4dd2-b1b3-761b2e7e4333.png)
![image](https://user-images.githubusercontent.com/55352601/167646927-e431a5fd-0a1a-46ad-ab66-624c6c595a7f.png)

other courses documentation is much better
![image](https://user-images.githubusercontent.com/55352601/167647025-bb093c80-fab5-44cb-b8cb-01e66b22f9a6.png)

##

[2022-05-10 14:02] arpit456jain commented on #291
@nikhil25803  add this ide in C course as well

[2022-05-10 14:08] arpit456jain commented on #291
yup i know but no worries just add it
and yeah someone added link to topics of cpp course for some topics in C
remove them and make a septate page for it

[2022-05-10 14:08] arpit456jain commented on #291
can u do it @nikhil25803

[2022-05-10 14:10] nikhil25803 commented on #291
I will embed the IDE in the C language and will try to fix the link issue. I will ping you on discord if face any problems.

[2022-05-10 14:12] arpit456jain commented on #291
ok sure

[2022-05-10 14:14] arpit456jain opened #311 "Add documentation For C course"
### Description

Add content for all topics in C course

### Screenshots

_No response_

[2022-05-10 14:15] #244 closed

[2022-05-10 14:47] Sabyasachi-Seal commented on #308
Thanks a lot for assigning!
Will get to work right away.

Sure will try to corelate with the videos and make the documentation accordingly.

[2022-05-11 07:22] Sabyasachi-Seal commented on #308
Some of the commands in the list : e.g, add, commit and status already have thier documentation. Do I need to add more? @arpit456jain

[2022-05-11 21:39] void-ness commented on #310
Hello, I would like to work upon the above issue and improve the content. can you kindly assign it to me please? to get started if you can help me file path of the above mentioned webpage, it will be really helpful
thank you

[2022-05-12 05:02] arpit456jain commented on #310
@void-ness  this is path of C course
  https://github.com/arpit456jain/CodingEasy/tree/master/templates/home/CPP

run it on local system and in templates/home/CPP u will find all the files

[2022-05-12 10:02] Atif0604 commented on #311
May i work on this

[2022-05-12 12:04] singhmansi25 commented on #308
Yes @Sabyasachi-Seal if possible do add more content. You can refer to this: [https://github.com/git-guides/git-add](https://github.com/git-guides/git-add)
If you have any further query, then do drop a message.

[2022-05-12 13:22] Sabyasachi-Seal commented on #308
Do I need to add the sections for every command ??? Because then there will be over 20 sections. The current system is good and if I add more commands and update the info on it with updated documentation then I think that will be good.

[2022-05-12 15:33] singhmansi25 commented on #308
@arpit456jain
Please check this once

[2022-05-12 15:34] singhmansi25 commented on #299
@muhammadgalhoum
What's the update?

[2022-05-12 15:56] singhmansi25 commented on #311
Go ahead @Atif0604

[2022-05-12 17:01] muhammadgalhoum commented on #299
I'm already about to finish solving this problem and will do a PR ASAP @singhmansi25

[2022-05-13 08:23] Kunal0220 opened #316 "Error in Documentation of Readme"
### Description

In the Readme , in [How to Make A Pull Request](https://github.com/arpit456jain/CodingEasy#how-to-make-a-pull-request) section , Point 4 , The command to add upstream url is given as :
` git remote add upstream https://github.com/arpit456jain.git `
instead if should be :
` get remote add upstream https://github.com/arpit456jain/CodingEasy.git `

I can correct it and make a PR.
Und

[2022-05-13 09:15] Kunal0220 commented on #287
Hi @arpit456jain , My exams got over yesterday and I my trying to go about it . I figured out the problem by inspecting it but m not being able to make it run on my local system . Some issues with the dependencies 🥲.

Should I provide the solution so that someone can fix it ?

[2022-05-13 11:32] Nitya-S27 opened #317 "Some specific section UI improvement"
### Description

The website looks quite simple. It can be made amazing by modifying it's CSS :

### Screenshots

- This color palette will look great

![Screenshot (450)](https://user-images.githubusercontent.com/81871441/168272438-ae5c9892-efff-4380-8505-d36b18aec772.png)

[2022-05-13 17:43] arpit456jain commented on #308
@Sabyasachi-Seal u can add multiple topics on one page as u wish

[2022-05-13 17:43] arpit456jain commented on #317
go ahead @Nitya-S27

[2022-05-13 18:06] #243 closed

[2022-05-13 18:07] arpit456jain commented on #263
@muhammadgalhoum sure

[2022-05-13 18:08] arpit456jain opened #319 "Add a feature to comment on blog post for normal user"
### Description

Add a feature to comment on blog post for normal user the username of user should show
and when admin make a comment it admin should show

### Screenshots

_No response_

[2022-05-13 18:09] arpit456jain commented on #319
@muhammadgalhoum r u interested ?

[2022-05-13 18:10] arpit456jain commented on #287
sure

[2022-05-13 18:10] arpit456jain commented on #287
make sure to make a virtual env

[2022-05-13 19:43] void-ness commented on #310
Thank you for assigning it to me. I will get back to you with the assigned work soon.

[2022-05-13 19:47] Kunal0220 commented on #287
I tried all the possible techniques for my end , But i'll give one more try , if it works then fine , or else I will type down the solution here itself.

[2022-05-14 06:39] Sabyasachi-Seal commented on #308
Ok got it. Thanks for the clarification.

[2022-05-15 06:42] muhammadgalhoum commented on #263
As I mentioned earlier @arpit456jain, I will work on developing the home page of the site

[2022-05-15 07:12] Kunal0220 commented on #316
Should I make a PR @arpit456jain ?????

[2022-05-15 07:16] muhammadgalhoum commented on #319
Yes, I'm interested in solving this problem but after completing the development of the home page, I will solve this problem
So, assign it to me  @arpit456jain

[2022-05-15 12:38] shahnehal0407 commented on #311
I would like to work on this.

[2022-05-16 07:34] #294 closed

[2022-05-16 07:35] arpit456jain commented on #263
OK @muhammadgalhoum

[2022-05-16 07:35] #291 closed

[2022-05-17 06:17] singhmansi25 commented on #316
Yes you can @Kunal0220
Your contribution can be counted as Level0.
If its ok @arpit456jain

[2022-05-17 06:19] singhmansi25 commented on #311
@shahnehal0407
If the assigned contributor is unable to work then we will assign you for this issue.

[2022-05-17 06:19] singhmansi25 commented on #311
@Atif0604
What's the update of your work?

[2022-05-17 07:00] Atif0604 commented on #311
working on it
but i had a ques like there are many subtopics so should i make every subtopic a PR or all subtopics in 1 PR

[2022-05-17 14:18] Kunal0220 commented on #287
Thanx for the time @arpit456jain , really appreciated . I am unassigning myself so that someone can take this over and make it right.

[2022-05-17 21:00] Kunal0220 commented on #316
Hi ma'am , even if he doesn't specify any level its ok . Its just making this repo better for the community members.🙌🏻

[2022-05-17 23:06] void-ness commented on #310
Thank You! as per the mentioned Description I have submitted the requested changes. Kindly check them out at #327.

I would love to contribute more in the future. Your guidance regarding file path proved to be very helpful for me. I am a GSSoC contributor and would love if you can add the level label to my contribution too. Thank You

[2022-05-18 01:08] Nitya-S27 commented on #317
There was an issue that the css I was applying was not reflecting in the  website.
But it has been resolved and I've started working on it

[2022-05-18 16:21] singhmansi25 commented on #311
If you are adding bigger subtopics you can make a new PR for that @Atif0604

[2022-05-18 17:20] navyasharma0203 commented on #297
Can I work on this issue??

[2022-05-18 18:04] Nitya-S27 commented on #317
hey @arpit456jain , I won't be able to work on this issue.
Sorry for the inconvenience caused.

[2022-05-18 18:16] #316 closed

[2022-05-19 06:27] DhairyaWankhade commented on #287
I'm GSSoC22 Contributor, Please assign this issue to me.

[2022-05-19 14:13] #319 closed

[2022-05-19 14:14] arpit456jain commented on #263
@muhammadgalhoum  r u working on this ?

[2022-05-19 14:15] arpit456jain commented on #287
ok @DhairyaWankhade
but let me clear a thing navbar looks perfect in local system its giving problem with hosted one

[2022-05-19 14:18] arpit456jain commented on #310
@void-ness it would be great if u could make videos tutorials on C++
or videos for leetcode solutions

[2022-05-19 14:19] arpit456jain commented on #311
try to add subtopics as much as possible in one PR level will be decided on the basis of work

[2022-05-19 14:19] Rishitha1234 opened #330 "[Data Imputation of Machine learning]"
### Description

Want to add documentation for data imputation, which is a vast topic of machine learning

### Screenshots

_No response_

[2022-05-19 14:47] muhammadgalhoum commented on #263
Yes, and it's about to be done, and I will do PR in a few minutes
@arpit456jain

[2022-05-19 14:50] muhammadgalhoum commented on #299
Ok, Please put level 3 on it
Thanks in advanced

[2022-05-20 13:35] nikhil25803 opened #336 "Create a quiz page"
### Description

I want to create a quiz page that will be open for all, anyone can attend that and can test their skill. A report card will be generated at the end of the test to help users analyze their results more efficiently.

### Screenshots

_No response_

[2022-05-20 16:30] muhammadgalhoum opened #337 "Adding a feature of deleting the comment to help the user to delete his comment"
### Description

This feature will help the user to delete his comment

### Screenshots

_No response_

[2022-05-20 16:33] arpit456jain commented on #337
@muhammadgalhoum make this feature for admin only
admin can delete the comment directly from website

[2022-05-20 16:34] arpit456jain commented on #336
go ahead @nikhil25803

[2022-05-20 16:40] arpit456jain commented on #330
go ahead @Rishitha1234

[2022-05-20 17:27] #299 closed

[2022-05-20 17:59] nikhil25803 commented on #336
Thanks, on it :)

[2022-05-20 20:09] muhammadgalhoum commented on #306
Please, close this issue@arpit456jain

[2022-05-21 07:44] #337 closed

[2022-05-21 07:51] muhammadgalhoum commented on #306
Please close this issue too @KKhushhalR2405

[2022-05-21 07:53] #306 closed

[2022-05-22 13:13] muhammadgalhoum opened #352 "Modify the value of the alt property to be the name of the person in the json file if the image cannot be loaded"
### Description

![screencapture-github-arpit456jain-CodingEasy-blob-master-templates-home-team-our-team-html-2022-05-22-15_07_27](https://user-images.githubusercontent.com/56798376/169696804-2fb2e5b6-9b03-40cb-afb2-83ce1e904dad.png)

### Screenshots

_No response_

[2022-05-22 14:43] #352 closed

[2022-05-22 14:43] #336 closed

[2022-05-22 14:44] arpit456jain commented on #311
@Atif0604 make PR asap and add topics as much as possible in PR instead of making multiple PRs since very less time left

[2022-05-22 16:35] #263 closed

[2022-05-22 16:36] arpit456jain commented on #287
@DhairyaWankhade updates ?

[2022-05-22 16:36] #287 closed

[2022-05-22 16:38] arpit456jain commented on #308
@Sabyasachi-Seal   r u going to get add more documentation ?

[2022-05-22 16:39] #310 closed

[2022-05-22 16:40] Sabyasachi-Seal commented on #308
Could you suggest what more to add ?

[2022-05-22 16:40] arpit456jain commented on #330
@Rishitha1234 update ?

[2022-05-22 16:54] arpit456jain opened #359 "Add yt videos in git github course properly and add documentation"
### Description

we have a playlist on youtube of git github videos
we want to integrate those videos in website and add documentation also if required

[2022-05-22 16:58] arpit456jain opened #360 "Add content for remaining topics in C++ course"
### Description

1. add topics as much as possible in one PR
2. maintain the quality

[2022-05-22 17:09] arpit456jain opened #361 "improvements required in cards"
### Description

remove the flip  of cards and make the cards little bit small and add the text below img
 like this
<img width="199" alt="image" src="https://user-images.githubusercontent.com/55352601/169707135-26747254-18c5-441f-afdf-99f84a8f1dfa.png">

[2022-05-22 17:10] arpit456jain commented on #361
@muhammadgalhoum

[2022-05-22 17:22] DhairyaWankhade commented on #287
Is this issue resolved..??

[2022-05-22 17:53] piyusha2001 commented on #360
@arpit456jain  I want to work on this . Can you please assign me this issue?

[2022-05-22 18:22] muhammadgalhoum commented on #359
Please assign it for me @arpit456jain

[2022-05-22 18:23] muhammadgalhoum commented on #361
OK, assign it to me @arpit456jain

[2022-05-22 19:24] arpit456jain commented on #360
@piyusha2001 go ahead and make PR as soon as possible

[2022-05-22 19:24] arpit456jain commented on #359
go ahead @muhammadgalhoum

[2022-05-22 19:25] arpit456jain commented on #359
@muhammadgalhoum first make a small PR just integrate 2 videos only it will be of lvl 0 after that do the rest of work

[2022-05-22 19:26] arpit456jain commented on #359
take videos links from here
https://www.youtube.com/watch?v=WD5Un8e3EXQ&list=PLq48nQVMAPYF9r0XptDZRvv52cHO6N-h5

[2022-05-22 19:26] muhammadgalhoum commented on #359
Please give me the playlist and explain what you want

[2022-05-22 19:29] muhammadgalhoum commented on #359
Please put level 1 for these 2 videos
OK?

[2022-05-23 01:09] Jayanth-MKV opened #364 "UI improvement"
### Description

1. No common styling among all the modules of python course.
2. No proper indentation.
3. Font alignment didn't match.
4. Modules headings are all in different manner ( No common styling ).

These are all the issues with the UI in  python course.
![Screenshot (438)](https://user-images.githubusercontent.com/93820457/169725385-b6ca6248-b9ba-4b58-a6b6-3b04f3ab8c00.png)
![Screenshot

[2022-05-23 01:22] Jayanth-MKV opened #366 "No Proper structure in ML course and improving the navbar dropdown"
### What would you like to share?

Proper structuring of data is  required in ML course
navbar dropdown needs to be improved.
![Screenshot (443)](https://user-images.githubusercontent.com/93820457/169727613-8ccad2f7-310b-4a0b-840f-fcca2e675e2a.png)

![Screenshot (440)](https://user-images.githubusercontent.com/93820457/169726231-b2fd8fb6-4199-4a90-bec3-96b6162e8b66.png)
![Screenshot (443)](https:/

[2022-05-23 01:23] Jayanth-MKV commented on #366
/assign @arpit456jain @KKhushhalR2405 @singhmansi25

[2022-05-23 01:23] Jayanth-MKV commented on #364
/assign @arpit456jain @KKhushhalR2405 @singhmansi25

[2022-05-23 01:33] Jayanth-MKV opened #367 "UI in bootstrap course"
### Description

1. Buttons in bootstrap course need to be corrected.
2. Outline buttons and normal buttons.
3. no proper indentation in the codes.
4. Adding try me demo examples for each module.
![Screenshot (443)](https://user-images.githubusercontent.com/93820457/169727064-efd9a606-abeb-467b-9b65-c6e566e2c94a.png)
![Screenshot (444)](https://user-images.githubusercontent.com/93820457/169727071-

[2022-05-23 01:34] Jayanth-MKV commented on #367
/assign @arpit456jain @KKhushhalR2405 @singhmansi25

[2022-05-23 08:38] singhmansi25 commented on #366
go ahead @Jayanth-MKV

[2022-05-23 08:41] singhmansi25 commented on #367
@Jayanth-MKV
You have made 3 issues at same time, so will assign you other 2 issues when you will make PR for the assigned issue.

[2022-05-23 09:04] arpit456jain commented on #359
ok

[2022-05-23 09:26] Sabyasachi-Seal commented on #308
Okay @arpit456jain . Will I send the new PR to this issue only?

[2022-05-23 09:28] Jayanth-MKV commented on #364
@arpit456jain could you tell me which of the last two screenshots is the correct heading format.

[2022-05-23 09:31] KKhushhalR2405 commented on #364
![image](https://user-images.githubusercontent.com/58569950/169789416-fcb7284f-a904-4db4-a580-da32a08ebb69.png)

This one @Jayanth-MKV

[2022-05-23 19:10] #364 closed

[2022-05-23 19:10] #366 closed

[2022-05-24 14:57] arpit456jain commented on #308
yes @Sabyasachi-Seal

[2022-05-24 14:59] arpit456jain commented on #308
@Sabyasachi-Seal  as u can check currently there are only 3 subtopics in website and we have integrate videos of them

We have around 20+ videos now so i want subtopics of thoise videos so that we can integrate those videos on website

[2022-05-24 15:01] arpit456jain opened #385 "Add remaining topics of CSS which are covered in CSS videos"
### Description

take refence from excel file of CSS

[2022-05-24 15:06] muhammadgalhoum commented on #385
assign me pls

[2022-05-24 15:07] arpit456jain commented on #385
see msg in discord

[2022-05-24 15:31] Shreya-spec commented on #301
Hi, please assign me this issue

[2022-05-24 20:18] TusharKesarwani commented on #301
Hi, please assign me this issue

[2022-05-24 20:24] TusharKesarwani commented on #301
This is a demo video of array question of leetcode:-
https://drive.google.com/file/d/1EvrNKz4HpDUIjk87hJk9u_61anFdkjbe/view?usp=drivesdk

[2022-05-24 21:10] muhammadgalhoum commented on #361
close this issue @arpit456jain

[2022-05-24 21:11] muhammadgalhoum commented on #359
close this issue too after merging its PR @arpit456jain

[2022-05-25 04:13] #361 closed

[2022-05-25 04:14] #360 closed

[2022-05-25 04:15] arpit456jain commented on #360
@piyusha2001 if u interested in making video tutorials for C++ course create a new issue for it

[2022-05-25 04:37] arpit456jain opened #389 "bug in blog"
### Description

![image](https://user-images.githubusercontent.com/55352601/170180777-9ea937a6-d66f-4ee7-ace1-551c15724123.png)
![image](https://user-images.githubusercontent.com/55352601/170180794-0941f494-eb22-45ca-96f9-d4a12f78a15c.png)

### Screenshots

_No response_

[2022-05-25 04:37] arpit456jain commented on #389
@muhammadgalhoum check it once

[2022-05-25 04:42] myhacktech opened #390 "Would like to add html videos [OTHER] <description>"
### What would you like to share?

i would complete  maximum topics of html in minimum videos

[2022-05-25 04:47] arpit456jain commented on #390
@myhacktech since HMTL is way easier than any other course make sure to cover the topic as much as possible in video and add at least 4 videos in one PR for lvl2

[2022-05-25 04:49] arpit456jain opened #391 "Add online editor in C++ course and Bootstrap"
### Description

![image](https://user-images.githubusercontent.com/55352601/170182074-a139bb44-f774-4a6e-ac9d-dc3a2aa0d2ed.png)

[2022-05-25 05:04] #359 closed

[2022-05-25 05:20] myhacktech commented on #390
Sure!!!

[2022-05-25 06:13] Jayanth-MKV commented on #391
assign @arpit456jain @KKhushhalR2405 @singhmansi25

[2022-05-25 07:10] muhammadgalhoum commented on #389
If the problem is still with you, assign this issue to me and I will push my code in a PR
@arpit456jain

[2022-05-25 13:08] arpit456jain commented on #389
I will try it once again and let you know

[2022-05-25 13:43] arpit456jain commented on #391
ok @Jayanth-MKV  make a PR for adding it in bootstrap

[2022-05-25 14:04] arpit456jain commented on #389
@muhammadgalhoum

[2022-05-25 17:01] piyusha2001 commented on #253
@arpit456jain  can you assign me this?

[2022-05-25 19:16] sohan2503001 commented on #301
Hi can you assign me this issue

[2022-05-25 20:17] muhammadgalhoum commented on #389
close this issue @arpit456jain

[2022-05-26 04:37] #389 closed

[2022-05-26 04:39] singhmansi25 commented on #297
@navyasharma0203
What the update on your work?

[2022-05-26 04:43] singhmansi25 commented on #253
GO AHEAD @piyusha2001

[2022-05-26 04:46] navyasharma0203 commented on #297
almost done...

[2022-05-26 05:49] riyaroy2086 commented on #301
Hi, please assign me this issue

[2022-05-27 01:50] Jayanth-MKV opened #411 "Add online editor in C course"
### Description

Adding editors to the C course modules

[2022-05-27 01:51] Jayanth-MKV commented on #411
assign @arpit456jain @KKhushhalR2405 @singhmansi25

[2022-05-27 09:39] muhammadgalhoum commented on #385
Please close this issue @arpit456jain @singhmansi25 @KKhushhalR2405

[2022-05-27 10:37] nikhil25803 opened #412 "Quiz page for C/C++/JS/Django"
### Description

I want to add Quiz Page for C, C++, JS, and Django like Python Quiz Page

[2022-05-27 10:39] #391 closed

[2022-05-27 10:39] #385 closed

[2022-05-27 10:39] #311 closed

[2022-05-27 10:40] arpit456jain commented on #308
@Sabyasachi-Seal make PR asap

[2022-05-27 10:41] arpit456jain commented on #301
@sohan2503001  and @riyaroy2086 please share a sample videos first
for reference : https://drive.google.com/file/d/1EvrNKz4HpDUIjk87hJk9u_61anFdkjbe/view?usp=drivesdk

[2022-05-27 10:42] Sabyasachi-Seal commented on #308
actually my exams are going on, will it be possible to add someone who can help out ?

[2022-05-27 10:43] arpit456jain commented on #390
@myhacktech upload the videos on yt also and make sure to save the code in a text file for adding it in website

[2022-05-27 10:48] arpit456jain commented on #308
sure @Sabyasachi-Seal

[2022-05-27 10:55] arpit456jain commented on #308
@nikhil25803 can u do this ?

[2022-05-27 10:57] myhacktech commented on #390
ok sure sir

[2022-05-27 10:57] nikhil25803 commented on #308
@arpit456jain Yes Bhaiya, I can

[2022-05-27 16:09] riyaroy2086 commented on #301
Demo video of array question of Leetcode:-
https://drive.google.com/file/d/1Fn-1GnQWecL5Ua53Dwa5ZM3xOL4YLLoa/view?usp=drivesdk

[2022-05-27 20:46] sohan2503001 commented on #301
https://drive.google.com/file/d/1k_NKKYKrGdLmFa2m0RP3DRg651vbWcqn/view?usp=sharing

[2022-05-28 04:19] arpit456jain commented on #301
u have to explain the problem statement and approach also see this
https://drive.google.com/file/d/1EvrNKz4HpDUIjk87hJk9u_61anFdkjbe/view?usp=drivesdk

[2022-05-28 04:21] arpit456jain commented on #301
yeah @sohan2503001 its fine u can make PR
u have to add 2 videos in one PR there will be 2 text file in which u will add ur code and drive link

[2022-05-28 04:23] #411 closed

[2022-05-28 04:23] #412 closed

[2022-05-28 06:13] riyaroy2086 commented on #301
Demo video : https://drive.google.com/file/d/1bdj7RnmpIk0SmTD9EN9F-xwixIXZszgu/view?usp=drivesdk

[2022-05-28 11:49] muhammadgalhoum opened #420 "Adding ML videos to our Coding Easy website"
### Description

I will add Ml videos to our Coding Easy website

[2022-05-28 11:50] muhammadgalhoum commented on #420
Please assign this issue to me @arpit456jain

[2022-05-28 13:30] arpit456jain commented on #301
Yeah now its fine just increase your voice rest all is ok
U can make PR by adding 2 video

[2022-05-28 16:53] Jayanth-MKV commented on #253
/assign @arpit456jain @singhmansi25 @KKhushhalR2405

[2022-05-28 16:58] arpit456jain commented on #420
@muhammadgalhoum

[2022-05-28 16:58] arpit456jain commented on #390
@myhacktech  all done?

[2022-05-28 16:59] arpit456jain commented on #308
@nikhil25803

[2022-05-28 17:03] myhacktech commented on #390
yes sir ,uploaded upto last PR merged

[2022-05-28 17:10] nikhil25803 commented on #308
On it Bhaiya, will make the PR till tomorrow morning :)

[2022-05-29 05:44] muhammadgalhoum opened #430 "Adding the HTML videos to our Coding Easy website"
### Description

I will add the HTML videos to our Coding Easy website

[2022-05-29 05:44] muhammadgalhoum commented on #430
Please assign this issue to me @arpit456jain

[2022-05-29 06:22] muhammadgalhoum commented on #420
Please close this issue @arpit456jain

[2022-05-29 09:33] nikhil25803 opened #434 "Add quiz page for remaining topics"
### Description

I want to add quiz pages for the remaining topics HTML, CSS, Bootstrap, Jquery and Machine Learning

[2022-05-29 14:21] psorat307 commented on #301
Hi, please assign me this issue

[2022-05-29 18:37] arpit456jain commented on #253
@Jayanth-MKV do this asap

[2022-05-29 18:37] #308 closed

[2022-05-29 18:38] #420 closed

[2022-05-29 18:38] arpit456jain commented on #434
@nikhil25803 add this for all rest of topics asap

[2022-05-29 18:59] Jayanth-MKV commented on #253
okay @arpit456jain

[2022-05-29 20:10] Jayanth-MKV opened #442 "Adding code editor in javascript course"
### Description

Adding code editor in javascript course and modules in it.

[2022-05-29 20:10] Jayanth-MKV commented on #442
/assign @arpit456jain @KKhushhalR2405 @singhmansi25

[2022-05-29 20:14] Jayanth-MKV opened #443 "Adding code editor in Python Course"
### Description

Adding code editor in Python Course and modules

[2022-05-29 20:15] Jayanth-MKV commented on #443
/assign @arpit456jain @KKhushhalR2405 @singhmansi25

[2022-05-29 21:07] arpit456jain commented on #443
@Jayanth-MKV its already there but in some modules its missing so add it in that

[2022-05-29 21:11] #442 closed

[2022-05-30 14:11] psorat307 commented on #301
#448

[2022-05-30 14:15] psorat307 commented on #301
Added video solution of Leetcode Question
Please review this pull request #448

[2022-05-30 18:54] harshb910 commented on #301
Hi, please assign me this issue.

[2022-05-30 20:13] harshb910 commented on #301
Please review pull request #454.

[2022-05-31 09:50] #443 closed

[2022-05-31 16:25] #253 closed

[2022-05-31 16:49] #390 closed

[2022-05-31 16:49] #301 closed

[2022-10-09 06:24] arpit456jain opened #474 "improve UI"
### Description

improve the front end of website

[2022-10-09 07:16] srijoy-paul commented on #474
@arpit456jain Can you assign me this task ? I would love to work on this